<footer class="footer container mx-auto md:px-5 px-3 mt-5">
  <div class="contact">
    <div class="text">
      <p class="p__text">Be Connected With Us</p>
    </div>
    <div class="social__media">
      <div class="social">
        <img src="./../../../assets/contact-icons/phone.svg" alt="" />
        <p><a href="#" class="p__text">+(65) 6654 8076</a></p>
      </div>
      <div class="social">
        <img src="./../../../assets/contact-icons/email.svg" alt="" />
        <p><a href="#" class="p__text">Logo&#64;gmail.com</a></p>
      </div>
      <div class="social">
        <img src="./../../../assets/contact-icons/location.svg" alt="" />
        <p>
          <a href="#" class="p__text">13- Foaad st , 5th settlement , Cairo </a>
        </p>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="social__icons">
      <img
        src="./../../../assets/social-icons/facebook.svg"
        alt="facebook icon"
      />
      <img
        src="./../../../assets/social-icons/linkedin.svg"
        alt="linkedin icon"
      />
      <img
        src="./../../../assets/social-icons/twitter.svg"
        alt="twitter icon"
      />
      <img
        src="./../../../assets/social-icons/instagram.svg"
        alt="instagram icon"
      />
      <img
        src="./../../../assets/social-icons/youtube.svg"
        alt="youtube icon"
      />
    </div>
    <div class="terms">
      <p><a href="#" class="p__text">Terms Of Service</a></p>
      <p class="p__text">-</p>
      <p><a href="#" class="p__text">Privacy Policy</a></p>
    </div>
  </div>
</footer>
