<div class="header__container">
  <header class="header__with__nav">
    <figure class="logo">
      <img
        src="./../../../assets/official-logo.png"
        alt="The funds flow logo"
      />
    </figure>
    <nav class="nav__bar">
      <ul>
        <li><a routerLink="/home" class="p__text">Home</a></li>
        <li><a routerLink="/categories" class="p__text">Categories</a></li>
        <li><a routerLink="/about" class="p__text">About</a></li>
        <li><a routerLink="/contact-us" class="p__text">Contact Us</a></li>
      </ul>
    </nav>
    <figure class="profile">
      <img src="./../../../assets/profile.jpeg" alt="profile icon" />
    </figure>
  </header>
</div>
