<div class="header__container">
  <header class="header__with__nav">
    <figure class="logo">
      <img
        src="./../../../assets/official-logo.png"
        alt="The funds flow logo"
      />
    </figure>
    <nav class="nav__bar">
      <button class="menu__button" (click)="toggleActive()"><p></p></button>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/categories">Categories</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact-us">Contact Us</a></li>
      </ul>
    </nav>
    <figure
      class="profile"
      routerLink="/about-user"
      role="button"
      *ngIf="photo"
    >
      <img [src]="photo" alt="profile icon" class="w-100 h-100" />
    </figure>
  </header>
</div>
