@import '../about-user/about-user.component.scss';

.DESCRIPTION{

    width: 400px;
    height: 250px;
    overflow: hidden;
    // background-color: rebeccapurple;
    border-radius: 20px;
}
.w-inputPro{
    width: 400px;

    
}

.borderProfile{
    border: 2px solid #b2b2b2;


}
.btnspace{
    width: 45%;
}
