

.btn1 {
  background-color: #0054a2;
  color: white;
}

.card {
  border: #0054a2 2px solid;
  border-radius: 20px;
  padding: 0.725rem;
  background-color: #E8F0F7;
}

.fs{

    font-size: larger;
}
._top{

  margin-top: 100px;
}