.btn{

    background-color: var(--main-color)!important;
    padding: 5px 10px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s;
    
}

.lolo{

    font-size: 20px;
    text-align: center;
    margin-top: 30px;
  font-weight: bold;
  padding-left: 5px;
  background-color: red;
}