.btn{
   background-color: #0054A2!important;
    padding: 5px 10px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    color: #fff  !important;
}

.design-paragraph{

    font-size: 20px;
    text-align: center;
    margin-top: 30px;
  font-weight: bold;
  padding-left: 5px;
}
