<section class="my-4 w-75 mx-auto">
  <div class="container my-5">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="background-Sign">
          <div class="w-75 mx-auto">
            <h1>Sign Up</h1>
            <p>Empower Your Financial Journey with Us."</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <figure>
          <img
            src="./../../../assets/logo.png"
            alt="Funds Flow Logo"
            class="logo w-100"
          />
        </figure>

        <div class="w-75 mx-auto">
          <form>
            <div class="form-floating">
              <input
                type="text"
                class="form-control border-0 border-bottom"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword" class="text-muted mb-3"
                >CompanyName
              </label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control border-0 border-bottom bor"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput" class="text-muted mb-3">Email </label>
            </div>
            <div class="form-floating">
              <input
                type="text"
                class="form-control border-0 border-bottom"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword" class="text-muted mb-3"
                >Description
              </label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control border-0 border-bottom"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput" class="text-muted mb-3"
                >Deta of Establishment
              </label>
            </div>
            <div class="form-floating">
              <input
                type="password"
                class="form-control border-0 border-bottom"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword" class="text-muted mb-3"
                >Password
              </label>
            </div>

            <button class="w-100 mx-auto d-flex mt-4 mb-2 btn btn-sginUp">
              Sign Up
            </button>
            <p class="text-center mb-5 mt-3">
              Already have an account? <a href="/sign-in">Sign In</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>nlkkkkkkkkkkkkkkkk</footer>
