.form-control{

    box-shadow: none;
}


figure {
    width: 50%;
    margin: 0 auto;
  
    img {
      width: 100%;
      display: inline-block;
    }
  }



  .background-Sign{

    background-image: url("../../../assets/Frame\ 115.png");
     background-position: center center;
     height: 100%;
     background-size:cover;
     color: var(--color-white);
     text-align: center;
     position: relative;
     z-index: 1;
     overflow: hidden;
     display: flex;
     justify-content: center;
   
     h1{
     padding-top: 60%;
     }
     P {
      font-size: 25px;
      padding-top: 20px;
      
    }
   
  }


  .btn-sginUp{

    font-weight: bold;
    font-size: 25px;
    background-color: var(--color-main);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: stretch;
 
}