.borderAll{
    border-radius:  5px !important;
    border: 1px solid  var(--color-main-blue);
}

.styleinput{

    font-size: 60px;
    color:var(--color-main-blue);
}
#path_id{

    display: none;
}
.mytextArea{
    resize: none;
}

.FinancialPerformance h4{

    position: relative;
}
.FinancialPerformance h4::after{
content: "";
width: 100px;
height: 50px;
position: absolute;
background-color: var(--color-main-blue);

}

.btn1{
    background-color:var(--color-main-blue);
    color: aliceblue;
    padding-left: 15px;
    padding-right: 15px;
}

// .FinancialPerformance{

//     height: 4px;
//     width: 100%;
    
// }


._top{

    margin-top: 100px;
}


h4{

    position: relative;
}

  h4::after{

content: "";

width: 37%;
height: 3px;
background-color: #080808;
position: absolute;

top:45%;
right: 0%;



}

h4::before{
content: "";

width: 37%;
height: 3px;
background-color: #080808;
position: absolute;

top:45%;

left: 0%;


}