.btn1{

    background-color: #0054A2 ;
    color: white;

}
.btn2 {
    border: 1px solid  #0054A2;
    color:  #0054A2;
}
.btn2:hover{

    background-color: #0054A2 ;
    color: white;
}