<!-- <div class="w-50 mx-auto d-flex justify-content-center align-items-center h-100" > -->


<!-- <img src="assets/notfonud/notfound.png"  width="w-100 "  class="" alt=""> -->

<div class="img">
  <div class="d-flex flex-column  d align-items-center">
    <h1 class="fw-bold mb-2">Page Not found</h1>
    <p class="text-center fs-4 "> Oops! The page you're looking for <br> doesn't exist.</p>

    <button class="btn btn1 fs-5 fw-bold" routerLink="/home">BACK TO HOME </button>
  </div>
</div>





<!-- </div> -->
