.styleborder{

    border:  1px solid #0054a2;
    // padding: 20px;
    box-shadow: 0px 0px 2px #0054a2 ;
  
  }
  .borderTop{
    border-top: 1px solid rgb(112, 110, 114);
    padding: 5px;
  }
  .btn1{

    background-color: #0054a2;
    color: aliceblue; 
    padding: 15px;
  }