.img {
  background-image: url("../../../assets/adites/bg-invest.png");
  height: 100vh;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: repeat;
}

.borderAll {
  border-radius: 5px !important;
  border: 1px solid var(--color-main-blue);
}

.styleinput {
  font-size: 60px;
  color:var(--color-main-blue);
}
#path_id {
  display: none;
}
.mytextArea {
  resize: none;
}

.FinancialPerformance h4 {
  position: relative;
}
.FinancialPerformance h4::after {
  content: "";
  width: 100px;
  height: 50px;
  position: absolute;
  background-color:var(--color-main-blue);
}

.btn1 {
  background-color:var(--color-main-blue);
  color: aliceblue;
  padding-left: 15px;
  padding-right: 15px;
}

// .FinancialPerformance{

//     height: 4px;
//     width: 100%;

// }

._top {
  margin-top: 100px;
}

h4 {
  position: relative;
}


.line{
    width: 100%;
    position: relative;
    h3{
      width: fit-content;
      margin: 0 auto;
      background-color: rgb(255, 255, 255);
      z-index: 99;
      
    }
  
    &::after{
      content: '';
      height: 2px;
      background-color: var(--color-main-blue);
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%,-50%);
      position: absolute;
      z-index: -8;
    }
  }