






 <section class="signUpUser"> 
   <div class="background">
    <h1>Sign Up</h1>
    <p>Start your Investment Journey</p>

     <div class="shapes">
      <div class="big-shape">
        <img src="./../../../assets/animation/big-shape.svg" alt="" />
      </div>
      <div class="small-shape">
        <img src="./../../../assets/animation/small-shape.svg" alt="" />
      </div>
      <div class="small-shape">
        <img src="./../../../assets/animation/small-shape.svg" alt="" />
      </div>
      <div class="small-shape">
        <img src="./../../../assets/animation/small-shape.svg" alt="" />
      </div>
      <div class="small-shape">
        <img src="./../../../assets/animation/small-shape.svg" alt="" />
      </div>
    </div>

</div>
<div class="signUpUser__content">
    <figure>
      <img src="./../../../assets/logo.png" alt="Funds Flow Logo" />
    </figure>
    <form id="signUpForm" class="signUp__form">
      <div class="signUp__input__container">
        <input type="text" id="username" name="username" />
        <label for="username">Username</label>
      </div>
      <div class="signUp__input__container">
        <input type="email" id="email" name="email" />
        <label for="email">E-mail</label>
      </div>
      <div class="signUp__input__container">
        <input type="text" id="nationlID" name="nationlID" />
        <label for="nationlID">National ID</label>
      </div>
      <div class="signUp__input__container">
        <input type="password" id="password" name="password" />
        <label for="password">Password</label>
        <i class="fa-regular fa-eye-slash"></i>
      </div>
      <button class="submit__form" type="submit">Sign Up</button>
      <p class="signIn">
        Already have an account? <a href="/sign-in">Sign In</a>
      </p>
    </form>
  </div>
</section> 




