<section class="signUpUser" *ngIf="step1">
  <div class="background">
    <h1>Sign Up</h1>
    <p>Start your Investment Journey.</p>

    <div class="shapes">
      <div class="big-shape">
        <img src="./../../../assets/animation/big-shape.svg" alt="" />
      </div>
      <div class="small-shape">
        <img src="./../../../assets/animation/small-shape.svg" alt="" />
      </div>
      <div class="small-shape">
        <img src="./../../../assets/animation/small-shape.svg" alt="" />
      </div>
      <div class="small-shape">
        <img src="./../../../assets/animation/small-shape.svg" alt="" />
      </div>
      <div class="small-shape">
        <img src="./../../../assets/animation/small-shape.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="signUpUser__content">
    <figure>
      <img src="./../../../assets/adites/logo-signUp.png" class="w-100" alt="Funds Flow Logo" />
    </figure>


    <form class="signUp__form" [formGroup]="SinUpForm" (ngSubmit)="handelForm()">

      
      <!-- ==============================================  UserName  =============================================== -->
      <div class="form-floating">
        <input type="text" class="form-control border-0 border-bottom" id="floatingUserName" placeholder="userName"
          formControlName="name" />
        <label for="floatingUserName" class="text-muted mb-3">UserName </label>
        <div class="mb-3" *ngIf="
          SinUpForm.get('name')?.errors && SinUpForm.get('name')?.touched
        ">

          <p *ngIf="SinUpForm.get('name')?.getError('required')" class="text-danger">
            * Name is required
          </p>
          <p *ngIf="SinUpForm.get('name')?.getError('minlength')" class="text-danger">
            *must be at least 4 letters
          </p>
          <p *ngIf="SinUpForm.get('name')?.getError('maxlength')" class="text-danger">
            *must be at a maximum of 20 letters
          </p>
        </div>

      </div>

    

      <!-- ==============================================  Email  =============================================== -->

      <div class="form-floating mb-3">
        <input type="email" class="form-control border-0 border-bottom bor" id="floatingInput"
          placeholder="name@example.com" formControlName="email" />
        <label for="floatingInput" class="text-muted"> Email </label>
        <div class="mb-3" *ngIf="
            SinUpForm.get('email')?.errors && SinUpForm.get('email')?.touched
          ">
          <p *ngIf="SinUpForm.get('email')?.getError('required')" class="text-danger">
            * Email is required
          </p>
          <p *ngIf="SinUpForm.get('email')?.getError('email')" class="text-danger">
            * Email InValid Format
          </p>
        </div>
        <p class="text-danger"> {{errorEmail}}</p>
      </div>


      <!-- ==============================================  NationalID  =============================================== -->


      <div class="form-floating ">
        <input type="text" formControlName="national_id" class="form-control border-0 border-bottom"
          id="floatingNationalID" placeholder="NationalID" />
        <label for="floatingDesc" class="text-muted mb-3">NationalID </label>
        <div class="mb-3" *ngIf="
            SinUpForm.get('national_id')?.errors &&
            SinUpForm.get('national_id')?.touched
          ">
          <p *ngIf="SinUpForm.get('national_id')?.getError('required')" class="text-danger">
            * The national id field is required
          </p>
          <p *ngIf="SinUpForm.get('national_id')?.getError('minlength')" class="text-danger">
            *The national id field must be 14 characters.
          </p>
          <p *ngIf="SinUpForm.get('national_id')?.getError('maxlength')" class="text-danger">
            *The national id field must be 14 characters.
          </p>
        </div>
        <p class="text-danger "> {{errorNational_id}}</p>

      </div>



      <!-- ==============================================  Password  =============================================== -->

      <div class="form-floating">
        <input type="password" class="form-control border-0 border-bottom" id="floatingPassword" placeholder="Password"
          formControlName="password" />
        <label for="floatingPassword" class="text-muted mb-3">Password </label>
        <div class="mb-3" *ngIf="
            SinUpForm.get('password')?.errors &&
            SinUpForm.get('password')?.touched
          ">
          <p *ngIf="SinUpForm.get('password')?.getError('required')" class="text-danger">
            * password is required
          </p>
          <p *ngIf="SinUpForm.get('password')?.getError('pattern')" class="text-danger">
            *must be at least 8 letters
          </p>
        </div>
      </div>
  <!-- ==============================================  gander  =============================================== -->
 

  <div class="form-floating">
    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="gender">
  <!-- <option selected>Open this select menu</option> -->
  <option value="Male">Male</option>
  <option value="Famel">Famel</option>
    </select>
    <label for="floatingSelect">Gender</label>

    <div class="mb-3" *ngIf="
    SinUpForm.get('gender')?.errors && SinUpForm.get('gender')?.touched
  ">

    <p *ngIf="SinUpForm.get('gender')?.getError('required')" class="text-danger">
      * Gander is required
    </p>


  </div>
</div>
      <!-- ==============================================  photo id  =============================================== -->


      <div class="w-100 text-center form-control p-2 mb-1 borderAll">

        <label for="path_id">
          <span class="material-symbols-outlined styleinput" role="button">
            add_photo_alternate
          </span>
        </label>

        <input   accept="image/*" type="file" id="path_id" onchange="console.log(event.target.files)" formControlName="id_card_photo"
          [(ngModel)]="term" (change)="onFileSelected($event)">
        <!-- <p-fileUpload mode="basic" chooseLabel="Choose" id="path_id"  formControlName="photo"    accept="image/*" maxFileSize="1000000" (onUpload)="onUpload($event)"></p-fileUpload> -->

        <div *ngIf="term; else elseBlock">
          <!-- Content to display if condition is true -->
          <p class="text-primary">done</p>
        </div>

        <ng-template #elseBlock>
          <!-- Content to display if condition is false -->
          <p class="text-danger">Please attach your photo <br>
            with photo of your national ID</p>
        </ng-template>

      </div>

      <div class="mb-3" *ngIf="
      SinUpForm.get('id_card_photo')?.errors && SinUpForm.get('id_card_photo')?.touched
    ">
  
      <p *ngIf="SinUpForm.get('id_card_photo')?.getError('pattran')" class="text-danger">
        * The id card photo field must be an image
      </p>
  
  
    </div>








    <!-- ==============================================  Sign Up =============================================== -->


      <button class="w-100 mx-auto d-flex mt-4 mb-2 btn btn-sginUp" [disabled]="SinUpForm.invalid">
        Sign Up<span *ngIf="isLoading"> <i class="fa fa-spin fa-spinner"></i></span>
      </button>

      <p class="text-center mb-5 mt-3">
        Already have an account?

        <span>
          <a class="link-primary cursor-pointer" routerLink="/signIn">Sign In</a>
        </span>
      </p>
    </form>
  </div>
</section>

<section class="forget-password w-75 mx-auto  _top"  *ngIf="step2">
  <div class="text-center mb-3">
    <h1 class="colorheader">Email Verification</h1>
    <h2 class="mb-3">Check your E-mail</h2>
    <p class="colortext">
      Please enter the 6 digit code sent to <br />
      your e-mail
    </p>
  </div>
  <form
  class="form-var"
    class="w-50 mx-auto"
    [formGroup]="resetCodeForm"
    (ngSubmit)="resetCodeSignUp()"
  >
    <div class="form-group">
      <input
        type="text"
        class="form-control border-0 border-bottom"
        placeholder="Enter Code"
        formControlName="verification_code"
      />

      <button
        class="btn backgroundBtn w-100 mt-4"
   
      >
        ConFirm<span *ngIf="isLoading">
          <i class="fa fa-spin fa-spinner"></i
        ></span>
      </button>

    </div>
  </form>
  <!-- <p class="text-danger">{{ errorMassage }}</p> -->
  <!-- resetCodeSignUp() -->
</section> 