<!-- <section class="signUpUser">
  <div class="background">
    <h1>Sign Up</h1>
    <p>Start your Investment Journey</p>

    <div class="shapes">
      <div class="big-shape">
        <img src="./../../../assets/animation/big-shape.svg" alt="" />
      </div>
      <div class="small-shape">
        <img src="./../../../assets/animation/small-shape.svg" alt="" />
      </div>
      <div class="small-shape">
        <img src="./../../../assets/animation/small-shape.svg" alt="" />
      </div>
      <div class="small-shape">
        <img src="./../../../assets/animation/small-shape.svg" alt="" />
      </div>
      <div class="small-shape">
        <img src="./../../../assets/animation/small-shape.svg" alt="" />
      </div>
    </div>
  </div>
  <div class="signUpUser__content">
    <figure>
      <img src="./../../../assets/logo.png" alt="Funds Flow Logo" />
    </figure>
    <form id="signUpForm" class="signUp__form">
      <div class="signUp__input__container">
        <input type="text" id="username" name="username" />
        <label for="username">Username</label>
      </div>
      <div class="signUp__input__container">
        <input type="email" id="email" name="email" />
        <label for="email">E-mail</label>
      </div>
      <div class="signUp__input__container">
        <input type="text" id="nationlID" name="nationlID" />
        <label for="nationlID">National ID</label>
      </div>
      <div class="signUp__input__container">
        <input type="password" id="password" name="password" />
        <label for="password">Password</label>
        <i class="fa-regular fa-eye-slash"></i>
      </div>
      <button class="submit__form" type="submit">Sign Up</button>
      <p class="signIn">
        Already have an account? <a href="/sign-in">Sign In</a>
      </p>
    </form>
  </div>
</section> -->
<section class=" mx-auto">
  <div class="container my-5">
    <div class="row g-0">
    
      <div class="col-md-6">
    
          <div class="background-Sign">
            <div class="w-75 mx-auto ">
              <h1>Sign Up</h1>
              <p>Start your Investment Journey</p>
            </div>
       
          </div> 
        
      </div>
      
      
      <div class="col-md-6">
        <figure>
          <img src="./../../../assets/logo.png" alt="Funds Flow Logo" class="logo w-100" />
        </figure>
    
     <div class="w-75 mx-auto">
  <form  [formGroup]="SinUpForm" (ngSubmit)="handelForm()">
    
        <div class="form-floating">
          <input type="text"
           class="form-control border-0 border-bottom "
            id="floatingUserName"
             placeholder="userName" 
             formControlName="userName"> 
          <label for="floatingUserName" class="text-muted mb-3">UserName </label>
          <div class=" mb-3" *ngIf="SinUpForm.get('userName')?.errors  && SinUpForm.get('userName')?.touched">
            <p *ngIf="SinUpForm.get('userName')?.getError('required')" class="text-danger">* Name is required</p>
            <p *ngIf="SinUpForm.get('userName')?.getError('minlength')" class="text-danger">*must be at least 4 letters</p>
            <p *ngIf="SinUpForm.get('userName')?.getError('maxlength')" class="text-danger">*must be at a maximum of 20 letters</p>
           </div>
        </div>
      <div class="form-floating mb-3">
          <input type="email" 
          class="form-control border-0 border-bottom bor" 
          id="floatingInput" 
          placeholder="name@example.com"
          formControlName="email"
          >
          <label for="floatingInput" class="text-muted">

          Email </label>
          <div class="mb-3" *ngIf="SinUpForm.get('email')?.errors  && SinUpForm.get('email')?.touched">
            <p *ngIf="SinUpForm.get('email')?.getError('required')" class="text-danger">* Email required</p>
            <p *ngIf="SinUpForm.get('email')?.getError('email')" class="text-danger">* Email InValid Format</p>
           </div>
     
        </div>
   
   
        <div class="form-floating">
          <input type="text" 
          formControlName="nationalID"
          class="form-control border-0 border-bottom " id="floatingNationalID" placeholder="NationalID">
          <label for="floatingDesc" class="text-muted mb-3">NationalID  </label>
          <div class=" mb-3" *ngIf="SinUpForm.get('nationalID')?.errors  && SinUpForm.get('nationalID')?.touched">
            <p *ngIf="SinUpForm.get('nationalID')?.getError('required')" class="text-danger">* NationalID is required</p>
            <p *ngIf="SinUpForm.get('nationalID')?.getError('minlength')" class="text-danger">*must be 14 numbers</p>
           </div>
        </div>
        <div class="form-floating">
          <input type="password" 
          class="form-control border-0 border-bottom "
           id="floatingPassword"
            placeholder="Password"
            formControlName="password"
            >
          <label for="floatingPassword" class="text-muted mb-3">Password  </label>
          <div class=" mb-3" *ngIf="SinUpForm.get('password')?.errors  && SinUpForm.get('password')?.touched">
            <p *ngIf="SinUpForm.get('password')?.getError('required')" class="text-danger">* password required</p>
            <p *ngIf="SinUpForm.get('password')?.getError('pattern')" class="text-danger">*must be at least 6 letters</p>
           </div>

          
           
        </div>
      <button class="w-100  mx-auto d-flex mt-4 mb-2 btn btn-sginUp " [disabled]="SinUpForm.invalid">Sign Up</button>

     
      <p class=" text-center mb-5 mt-3">
        Already have an account? 
             
        <span>
          <a
           class="link-primary cursor-pointer"
           routerLink="/signIn"
          
          
          >Sign In</a>
      </span>
        
      </p>


      </form>
     </div>
      </div>
    </div>
    </div>
</section>