<section class="m mb-5 mx-auto ">
  <div class="container">
    <form [formGroup]="adminForm" (ngSubmit)="saveDate()">


      <div class="row  align-items-center mb-5">
        <!-- ================================ P H O T O ==================================== -->
        <div class="col-md-6 position-relative mb-5">

          <div class="imgabout position-relative" *ngIf="photoA">

            <img [src]="photoA" alt="" class="w-100 imgabout">


            <!-- <img [src]="photo" class=" position-relative w-100 h-100" alt=""> -->
            <label for="path_file" class=" position-absolute dd ">
              <span class="material-symbols-outlined styleinput ms-5 inpuCss">
                add_circle
              </span>
            </label>
            <input type="file" id="path_file" onchange="console.log(event.target.files)"
              (change)="onFileSelected($event)" accept="image/*">


          </div>
        </div>


        <!-- =================================== email & name========================================== -->
        <div class="col-md-6  ">

          <!-- Name    -->
          <span class="d-flex edd mb-3 align-items-center">
            <input formControlName="name" id="name" type="text"
              class="form-control p-3  w-75 me-3 text-center border-3 borderAll fw-bolder fs-6"
              [(ngModel)]="userInfo.name">


            <label for="name"> <span class="material-symbols-outlined fs-1 inpuCss" role="button">
                border_color
              </span>
            </label>
          </span>
          <!-- Email -->

          <div class="form-floating mb-3">
            <input formControlName="email" type="text" class="form-control w-75 borderAll" id="floatingInput"
              placeholder="name@example.com" [(ngModel)]="userInfo.email" />
            <label for="floatingInput" class="fw-bold text-muted"> E-mail </label>

          </div>

          <div class="w-75">
            <button class="btn btninfo  d-block ms-auto ">Save</button>

          </div>
        </div>

      </div>


    </form>

    <div>

      <div class="   row  mb-5 ">


        <div class="col-md-12">

          <button routerLink="/wating"
            class="btn p-2 mb-3 text-white shadow-sm w-75 mx-auto fw-bold d-flex btn1 justify-content-center  fs-5 ">Waiting
            list</button>

        </div>

        <div class="row d-flex justify-content-center">
          <div class="col-md-4 ">
            <button routerLink="/manageUsers"
              class="btn p-2 mb-3 text-white shadow-sm space mx-auto fw-bold d-flex btn1 justify-content-center  fs-5 ">Manage
              Users </button>
          </div>
  
          <div class="col-md-4">
            <button routerLink="/manageBussiness"
              class="btn p-2 mb-3 text-white shadow-sm space mx-auto fw-bold d-flex btn1 justify-content-center  fs-5 ">Manage
              Business
            </button>
          </div>
        </div>
      </div>
   
    </div>


    <div class="borderCom mb-3">
      <p class="fw-bold mt-2">3% Commission of investor profit</p>
    </div>

    <div class="line m-3">
      <h3>Our Commission</h3>
    </div>



    <form [formGroup]="commissionForm">

      <div class="row m-4 g-4">
        <div class="col-md-6" *ngFor="let  opportunity  of opportunities">

          <div class="stylediv ">
            <div class="d-flex justify-content-between  align-self-center">
              <div class="mt-5">
                <p class="fw-bolder fs-5"> {{opportunity.business_name }}</p>
                <p class="fw-bolder  fs-6">Business Field: <span>{{opportunity.category.name}}</span>
                </p>
                <p class="fw-bolder  fs-6">Total Amount: <span>{{opportunity.amount_needed}}</span>
                </p>
              </div>

              <div>
                <figure class="logo ">
                  <img class="w-100" [src]="opportunity.photo" alt="logo">
                </figure>

                <div>
                  <p>Start Date: {{opportunity.start_date}}
                  </p>
                  <p>End Date: {{opportunity.end_date}}</p>

                </div>
              </div>
            </div>

            <div class="d-flex">
              <div class="text-center align-items-center  justify-content-center ms-5 borderAll w-75  ">
                <div class="p-2">Commission <span>{{opportunity.commission_amount}} </span>
                  <!-- <input type="text" formControlName="commission_amount"
                              class="border-0 w-25 pt-1 pb-1" 
                              [(ngModel)]="opportunity.commission_amount"
                              >
                          <input type="text" formControlName="uuid" hidden  [(ngModel)]="opportunity.uuid"> -->
                  <i class="fa-solid fa-pencil ms-3 pencil" role="button"
                    [routerLink]="['/commission' , opportunity.uuid]"></i>

                </div>

              </div>



              <!-- <div class="text-center align-items-center  justify-content-center ms-5 borderAll w-75  ">
                              <span>Commission : {{opportunity.commission_amount}}

                                  <input type="text" formControlName="commission_amount">
                              </span>


            
                      </div>
                  </div>

              </div>


          </div>

          <button class="btn btn-primary">save</button>

      </form>


  </div>
</section>






































































<!-- <div class="w">
  <div class="container-me ">
    <section class="profile_hero row justify-content-between align-items-center">
      <figure class="position-relative">
        <img src="./../../../assets/admin/me.jpg" alt="admin profile picture" />

        <input type="file" id="path_input" >
        <label for="path_input">
          <img
          class="position-absolute top-100"
          src="./../../../assets/admin/add.png"
          alt="plus icon"
        />

        </label>
      </figure>
     
        <!-- class="row justify-content-center align-items-center flex-nowrap gap-3 form-container" -->

              <!-- <div class="input-container">
          <div>
            <input
              id="adminName"
              type="text"
             [(ngModel)]="userInfo.name"
              [readonly]="isadminNameReadOnly"
            />
          </div>
          <img
            id="adminName"
            [src]="adminNameImgSrc"
            alt="edit icon"
            (click)="toggleEditable('adminName')"
          />
        </div> -->

              <!-- /
      
    </section>
  




    <section class="admin_info">
      <h2 class="h2__heading">Admin Information</h2>
      <form class="form-container">
        <div class="input-container">
          <div>
            <label for="email">E-Mail</label>
            <input
              type="email"
              id="email"
            
              placeholder="Youssef@gmail.com"
              [readOnly]="isEmailReadOnly"
            />
          </div>
          <img
            [src]="emailImgSrc"
            alt="edit icon"
            (click)="toggleEditable('email')"
          />
        </div>
        <div class="input-container">
          <div>
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              placeholder="********"
              [readOnly]="isPasswordReadOnly"
            />
          </div>
          <img
            [src]="passwordImgSrc"
            alt="edit icon"
            (click)="toggleEditable('password')"
          />
        </div>
      </form>

      <div class="form-group">

        <label for="Products">Products Or Services</label>
        <input type="text " id="Products"  class="w-100  form-control p-3 mb-3 borderAll"   [(ngModel)]="userInfo.email">

    </div>

    </section>
  <button class="btn btn-primary text-white w-50 align-content-center d-flex text-center justify-content-center p-3">Wating list</button>

    <section class="portfolio">
      <div class="company">
        <div class="info">
          <h2 class="p__text">ALGIOSHY EG</h2>
          <h3 class="p__text">Business Field: <span>Steel</span></h3>
          <p class="p__text">Total Amount 500,000</p>
        </div>
        <div class="logo">
          <figure>
            <img
              src="./../../../assets/company-logos/algioshy.png"
              alt="aligioshy logo"
            />
          </figure>
          <div>
            <p class="p__text">Start Date: 9 Feb 2024</p>
            <p class="p__text">End Date: 9 Apr 2024</p>
          </div>
        </div>
        <div class="commission">
          <button class="p__text">Commission 15000</button>
        </div>
      </div>
      <div class="company">
        <div class="info">
          <h2 class="p__text">PHARCO</h2>
          <h3 class="p__text">Business Field: <span>Steel</span></h3>
          <p class="p__text">Total Amount 500,000</p>
        </div>
        <div class="logo">
          <figure>
            <img
              src="./../../../assets/company-logos/pharco.png"
              alt="pharco logo"
            />
          </figure>
          <div>
            <p class="p__text">Start Date: 9 Feb 2024</p>
            <p class="p__text">End Date: 9 Apr 2024</p>
          </div>
        </div>
        <div class="commission">
          <button class="p__text">Commission 20000</button>
        </div>
      </div>
      <div class="company">
        <div class="info">
          <h2 class="p__text">Talaat Moustafa</h2>
          <h3 class="p__text">Business Field: <span>Real Estate</span></h3>
          <p class="p__text">Total Amount 500,000</p>
        </div>
        <div class="logo">
          <figure>
            <img
              src="./../../../assets/company-logos/TMG.png"
              alt="talaat moustafa logo"
            />
          </figure>
          <div>
            <p class="p__text">Start Date: 9 Feb 2024</p>
            <p class="p__text">End Date: 9 Apr 2024</p>
          </div>
        </div>
        <div class="commission">
          <button class="p__text">Commission 25000</button>
        </div>
      </div>
    </section>
  
    <section class="portfolio">
      <div class="company">
        <div class="info">
          <h2 class="p__text">ALGIOSHY EG</h2>
          <h3 class="p__text">Business Field: <span>Steel</span></h3>
          <p class="p__text">Total Amount 500,000</p>
        </div>
        <div class="logo">
          <figure>
            <img
              src="./../../../assets/company-logos/algioshy.png"
              alt="aligioshy logo"
            />
          </figure>
          <div>
            <p class="p__text">Start Date: 9 Feb 2024</p>
            <p class="p__text">End Date: 9 Apr 2024</p>
          </div>
        </div>
        <div class="commission">
          <button class="details btn-main-blue p__text">Show More Details</button>
          <div>
            <button class="accept btn-main-blue p__text">Accept</button>
            <button class="reject bg-danger text-light p__text">Reject</button>
          </div>
        </div>
      </div>
      <div class="company">
        <div class="info">
          <h2 class="p__text">PHARCO</h2>
          <h3 class="p__text">Business Field: <span>Steel</span></h3>
          <p class="p__text">Total Amount 500,000</p>
        </div>
        <div class="logo">
          <figure>
            <img
              src="./../../../assets/company-logos/pharco.png"
              alt="pharco logo"
            />
          </figure>
          <div>
            <p class="p__text">Start Date: 9 Feb 2024</p>
            <p class="p__text">End Date: 9 Apr 2024</p>
          </div>
        </div>
        <div class="commission">
          <button class="details btn-main-blue p__text">Show More Details</button>
          <div>
            <button class="accept btn-main-blue p__text">Accept</button>
            <button class="reject bg-danger text-light p__text">Reject</button>
          </div>
        </div>
      </div>
      <div class="company">
        <div class="info">
          <h2 class="p__text">Talaat Moustafa</h2>
          <h3 class="p__text">Business Field: <span>Real Estate</span></h3>
          <p class="p__text">Total Amount 500,000</p>
        </div>
        <div class="logo">
          <figure>
            <img
              src="./../../../assets/company-logos/TMG.png"
              alt="talaat moustafa logo"
            />
          </figure>
          <div>
            <p class="p__text">Start Date: 9 Feb 2024</p>
            <p class="p__text">End Date: 9 Apr 2024</p>
          </div>
        </div>
        <div class="commission">
          <button class="details btn-main-blue p__text">Show More Details</button>
          <div>
            <button class="accept btn-main-blue p__text">Accept</button>
            <button class="reject bg-danger text-light p__text">Reject</button>
          </div>
        </div>
      </div>
    </section>
  

















    <footer class="footer">
      <div class="contact">
        <div class="text">
          <p class="p__text">Be Connected With Us</p>
        </div>
        <div class="social__media">
          <div class="social">
            <img src="./../../../assets/contact-icons/phone.svg" alt="" />
            <p><a href="#" class="p__text">+(65) 6654 8076</a></p>
          </div>
          <div class="social">
            <img src="./../../../assets/contact-icons/email.svg" alt="" />
            <p><a href="#" class="p__text">Logo&#64;gmail.com</a></p>
          </div>
          <div class="social">
            <img src="./../../../assets/contact-icons/location.svg" alt="" />
            <p>
              <a href="#" class="p__text"
                >13- Foaad st , 5th settlement , Cairo
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="social__icons">
          <img
            src="./../../../assets/social-icons/facebook.svg"
            alt="facebook icon"
          />
          <img
            src="./../../../assets/social-icons/linkedin.svg"
            alt="linkedin icon"
          />
          <img
            src="./../../../assets/social-icons/twitter.svg"
            alt="twitter icon"
          />
          <img
            src="./../../../assets/social-icons/instagram.svg"
            alt="instagram icon"
          />
          <img
            src="./../../../assets/social-icons/youtube.svg"
            alt="youtube icon"
          />
        </div>
        <div class="terms">
          <p><a href="#" class="p__text">Terms Of Service</a></p>
          <p class="p__text">-</p>
          <p><a href="#" class="p__text">Privacy Policy</a></p>
        </div>
      </div>
    </footer>
  </div>
  
</div> -->