// @import "./../../../assets/edite.scss";

// .container-me > section.profile_hero {
//   padding-top: var(--padding-large);
//   figure {
//     flex: 50% 0 0;
//     img {
//       width: 100%;
//       border-radius: var(--border-radius-10);
//     }
//     img.position-absolute {
//       left: 50%;
//       transform: translate(-50%, -50%);
//       width: var(--padding-large);
//       padding: var(--padding-small);
//       background-color: var(--color-grey);
//       border-radius: 50%;
//     }
//   }
//   .form-container {
//     flex: 50% 0 0;
//     .input-container {
//       flex: 80% 0 0;
//     }
//   }
//   @media (max-width: 720px) {
//     align-items: center;
//     gap: var(--padding-large);

//     figure,
//     .form-container {
//       flex: 100% 0 0;
//     }
//   }
// }

// .form-container {
//   display: flex;
//   justify-content: center;
//   align-items: stretch;
//   gap: var(--padding-regular);
//   margin: 0 auto;
//   .input-container {
//     min-height: 50px;
//     border-radius: var(--border-radius-10);
//     border: 2px solid var(--color-main-blue);
//     padding: var(--padding-extra-small);
//     flex: calc(50% - var(--padding-small)) 0 0;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     flex-wrap: nowrap;
//     > div {
//       display: flex;
//       flex-direction: column;
//       gap: var(--padding-extra-small);
//       flex: calc(100% - 40px) 0 0;
//     }
//     input {
//       border: none;
//       width: 80%;

//       &:focus {
//         outline: none;
//       }
//     }
//     img {
//       width: 30px;
//       height: 30px;
//       cursor: pointer;
//       transition: all var(--timing);

//       &:hover,
//       &:active {
//         transform: scale(1.2);
//       }
//     }
//   }
//   @media (max-width: 720px) {
//     flex-direction: column;
//     .input-container {
//       flex: 100% 0 0;
//     }
//   }
// }


// #path_input{

//   display: none !important;
// }

// @import "../../app/pages/about-user/about-user.component.scss";
@import "../../pages/about-user/about-user.component";



.container-me > section.profile_hero {
    padding-top: var(--padding-large);
    figure {
      flex: 50% 0 0;
      img {
        width: 100%;
        border-radius: var(--border-radius-10);
      }
      img.position-absolute {
        left: 50%;
        transform: translate(-50%, -50%);
        width: var(--padding-large);
        padding: var(--padding-small);
        background-color: var(--color-grey);
        border-radius: 50%;
      }
    }
    .form-container {
      flex: 50% 0 0;
      .input-container {
        flex: 80% 0 0;
      }
    }
    @media (max-width: 720px) {
      align-items: center;
      gap: var(--padding-large);
  
      figure,
      .form-container {
        flex: 100% 0 0;
      }
    }
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: var(--padding-regular);
    margin: 0 auto;
    .input-container {
      min-height: 50px;
      border-radius: var(--border-radius-10);
      border: 2px solid var(--color-main-blue);
      padding: var(--padding-extra-small);
      flex: calc(50% - var(--padding-small)) 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      > div {
        display: flex;
        flex-direction: column;
        gap: var(--padding-extra-small);
        flex: calc(100% - 40px) 0 0;
      }
      input {
        border: none;
        width: 50%;
  
        &:focus {
          outline: none;
        }
      }
      img {
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: all var(--timing);
  
        &:hover,
        &:active {
          transform: scale(1.2);
        }
      }
    }
    @media (max-width: 720px) {
      flex-direction: column;
      .input-container {
        flex: 100% 0 0;
      }
    }
  }
  
  .dd{
//    top: ;
    left: 10.25rem;
    width: 30px;
    height: 30px;
    cursor: pointer;

    align-self: center;

  
  }
  .imgabout{

    border: 1px solid  transparent;
    border-radius: 30px;
    // width:300px;
    // height: 400px;

    width:400px;
    height: 400px;

    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
}


.stylediv{

  border: 2px solid var(--color-main-blue);;
  border-radius: 30px;
  padding: 10px 25px;
}

.logo{

  width:9.37rem;
  height: 5.625rem;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  padding: 0px;
  margin: 0px;

}
.btninfo{
  background-color:var(--color-main-blue);;
  color: white;
}
.btn11{
  background-color: var(--color-main-blue);;
border-radius: 50%;
margin: 2px;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.imgabout{
  overflow: hidden;
}


.borderCom{
  border: 2px solid var(--color-main-blue);
  width: fit-content;
  margin: auto;
  border-radius: 10px;
  font-size: 20px;
  padding: 0 10px ;
}

.line{
  width: 100%;
  position: relative;
  h3{
    width: fit-content;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    z-index: 99;
  }

  &::after{
    content: '';
    height: 3px;
    background-color: var(--color-main-blue);
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    position: absolute;
    z-index: -8;
  }
}

.space{
  width: 100%;
}