@import "./../../../assets/edite.scss";

.container-me > section.profile_hero {
  padding-top: var(--padding-large);
  figure {
    flex: 50% 0 0;
    img {
      width: 100%;
      border-radius: var(--border-radius-10);
    }
    img.position-absolute {
      left: 50%;
      transform: translate(-50%, -50%);
      width: var(--padding-large);
      padding: var(--padding-small);
      background-color: var(--color-grey);
      border-radius: 50%;
    }
  }
  .form-container {
    flex: 50% 0 0;
    .input-container {
      flex: 80% 0 0;
    }
  }
  @media (max-width: 720px) {
    align-items: center;
    gap: var(--padding-large);

    figure,
    .form-container {
      flex: 100% 0 0;
    }
  }
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: var(--padding-regular);
  margin: 0 auto;
  .input-container {
    min-height: 50px;
    border-radius: var(--border-radius-10);
    border: 2px solid var(--color-main-blue);
    padding: var(--padding-extra-small);
    flex: calc(50% - var(--padding-small)) 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    > div {
      display: flex;
      flex-direction: column;
      gap: var(--padding-extra-small);
      flex: calc(100% - 40px) 0 0;
    }
    input {
      border: none;
      width: 80%;

      &:focus {
        outline: none;
      }
    }
    img {
      width: 30px;
      height: 30px;
      cursor: pointer;
      transition: all var(--timing);

      &:hover,
      &:active {
        transform: scale(1.2);
      }
    }
  }
  @media (max-width: 720px) {
    flex-direction: column;
    .input-container {
      flex: 100% 0 0;
    }
  }
}


#path_input{

  display: none !important;
}