
  .success{
    background-color:#0054a2;
  } 
  .successtext{
    color: #0054a2;
  }

  .borderheader{
    border: 1px solid transparent;
  }
  .colorLeft{
    left:0px;
    top:25px;
    height: 10%;
  }

.colortext{
    color: #b2b2b2 !important;
    
}

.h{

border-radius: 50%;
}
