<div class="container-me">
  <div class="header__container">
    <section class="about__header">
      <figure>
        <img src="./../../../assets/logo.png" alt="the funds flow logo" />
      </figure>
      <h1 class="h2__heading mt-5">About us</h1>
    </section>
  </div>

  <section class="about">
    <figure>
      <img src="./../../../assets/logo.png" alt="the funds flow logo" />
    </figure>
    <div class="text">
      <h2 class="h2__heading">About Company</h2>
      <p class="p__text">
        Our company's first and last goal is to provide a suitable and safe
        environment for investors, those who want to invest, small business
        owners, and financing opportunities for all parties.
      </p>
    </div>
    <div class="background">
      <img class="bigShape" src="./../../../assets/animation/big-shape.svg" />
      <img
        class="smallShape"
        src="./../../../assets/animation/small-shape.svg"
      />
    </div>
  </section>

  <section class="team">
    <h2 class="h2__heading">Meet Our Team</h2>
    <p class="p__text text-center">
      Our team works hard and efficiently for your unlimited success and
      investment
    </p>
    <div class="team__container">
      <figure class="team__member">
        <img src="../../../assets/team/gheimy.jpeg" alt="team member" />
      </figure>
      <figure class="team__member">
        <img src="./../../../assets/team/elsohafy.jpeg" alt="team member" />
      </figure>
      <figure class="team__member">
        <img src="./../../../assets/team/salama.jpeg" alt="team member" />
      </figure>
      <figure class="team__member">
        <img src="./../../../assets/team/menna.jpeg" alt="team member" />
      </figure>
      <figure class="team__member">
        <img src="./../../../assets/team/yasser.jpeg" alt="team member" />
      </figure>
      <figure class="team__member">
        <img src="./../../../assets/team/toqa.jpeg" alt="team member" />
      </figure>
      <figure class="team__member">
        <img src="./../../../assets/team/saad.jpeg" alt="team member" />
      </figure>
      <figure class="team__member">
        <img src="./../../../assets/team/monica.png" alt="team member" />
      </figure>
      <figure class="team__member">
        <img src="./../../../assets/team/mazen.jpg" alt="team member" />
      </figure>
      <figure class="team__member">
        <img src="./../../../assets/team/maria.png" alt="team member" />
      </figure>
      <figure class="team__member">
        <img src="./../../../assets/team/hamed.jpeg" alt="team member" />
      </figure>
      <figure class="team__member">
        <img src="./../../../assets/team/magdy.jpeg" alt="team member" />
      </figure>
    </div>
  </section>
</div>
