<div class="container-me">
  <div class="header__container">
    <section class="about__header">
      <figure>
        <img src="./../../../assets/logo.png" alt="the funds flow logo" />
      </figure>
      <h1 class="h2__heading">About us</h1>
    </section>
  </div>

  <section class="about">
    <figure>
      <img src="./../../../assets/logo.png" alt="the funds flow logo" />
    </figure>
    <div class="text">
      <h2 class="h2__heading">About Company</h2>
      <p class="p__text">
        Our company's first and last goal is to provide a suitable and safe
        environment for investors, those who want to invest, small business
        owners, and financing opportunities for all parties.
      </p>
    </div>
    <div class="background">
      <img class="bigShape" src="./../../../assets/animation/big-shape.svg" />
      <img
        class="smallShape"
        src="./../../../assets/animation/small-shape.svg"
      />
    </div>
  </section>

  <section class="team">
    <h2 class="h2__heading">Meet Our Team</h2>
    <p class="p__text text-center">
      Our team works hard and efficiently for your unlimited success and
      investment
    </p>
    <div class="team__container">
      <figure class="team__member">
        <img src="../../../assets/image.png" alt="team member" />
      </figure>
      <figure class="team__member">
        <img src="./../../../assets/team/profile.jpeg" alt="team member" />
      </figure>
      <figure class="team__member">
        <img src="./../../../assets/team/profile.jpeg" alt="team member" />
      </figure>
      <figure class="team__member">
        <img src="./../../../assets/team/profile.jpeg" alt="team member" />
      </figure>
      <figure class="team__member">
        <img src="./../../../assets/team/profile.jpeg" alt="team member" />
      </figure>
      <figure class="team__member">
        <img src="./../../../assets/team/profile.jpeg" alt="team member" />
      </figure>
      <figure class="team__member">
        <img src="./../../../assets/team/profile.jpeg" alt="team member" />
      </figure>
      <figure class="team__member">
        <img src="./../../../assets/team/profile.jpeg" alt="team member" />
      </figure>
    </div>
  </section>

  <footer class="footer">
    <div class="contact">
      <div class="text">
        <p class="p__text">Be Connected With Us</p>
      </div>
      <div class="social__media">
        <div class="social">
          <img src="./../../../assets/contact-icons/phone.svg" alt="" />
          <p><a href="#" class="p__text">+(65) 6654 8076</a></p>
        </div>
        <div class="social">
          <img src="./../../../assets/contact-icons/email.svg" alt="" />
          <p><a href="#" class="p__text">Logo&#64;gmail.com</a></p>
        </div>
        <div class="social">
          <img src="./../../../assets/contact-icons/location.svg" alt="" />
          <p>
            <a href="#" class="p__text"
              >13- Foaad st , 5th settlement , Cairo
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="social__icons">
        <img
          src="./../../../assets/social-icons/facebook.svg"
          alt="facebook icon"
        />
        <img
          src="./../../../assets/social-icons/linkedin.svg"
          alt="linkedin icon"
        />
        <img
          src="./../../../assets/social-icons/twitter.svg"
          alt="twitter icon"
        />
        <img
          src="./../../../assets/social-icons/instagram.svg"
          alt="instagram icon"
        />
        <img
          src="./../../../assets/social-icons/youtube.svg"
          alt="youtube icon"
        />
      </div>
      <div class="terms">
        <p><a href="#" class="p__text">Terms Of Service</a></p>
        <p class="p__text">-</p>
        <p><a href="#" class="p__text">Privacy Policy</a></p>
      </div>
    </div>
  </footer>
</div>
