@import "./../../../assets/edite.scss";

.about__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(90vh - 100px);
  max-height: 800px;
  margin: 0 auto;

  figure {
    margin-block: -100px;
    width: 500px;
    max-width: 80%;

    img {
      width: 100%;
    }
  }
  @media (max-width: 500px) {
    max-height: 400px;
    figure {
      margin-block: 0;
    }

    h1 {
      margin-block-start: -90px;
      z-index: 5;
    }
  }
  @media (max-width: 400px) {
    h1 {
      margin-block-start: -60px;
    }
  }
}
