<section class="  mx-auto">
  <div class="container my-5">
    <div class="row g-0">
    
 
      
      <div class="col-md-6">
        <figure>
          <img src="./../../../assets/logo.png" alt="Funds Flow Logo" class="logo w-100" />
        </figure>
    
     <div class="w-75 mx-auto">
  <form  [formGroup]="SinUpForm" (ngSubmit)="handelForm()">
    
   
      <div class="form-floating mb-3">
          <input type="email" 
          class="form-control border-0 border-bottom bor" 
          id="floatingInput" 
          placeholder="name@example.com"
          formControlName="email"
          >
          <label for="floatingInput" class="text-muted">

          Email </label>
          <div class="mb-3" *ngIf="SinUpForm.get('email')?.errors  && SinUpForm.get('email')?.touched">
            <p *ngIf="SinUpForm.get('email')?.getError('required')" class="text-danger">* Email required</p>
            <p *ngIf="SinUpForm.get('email')?.getError('email')" class="text-danger">* Email InValid Format</p>
           </div>
     
        </div>
   
   
     
        <div class="form-floating">
          <input type="password" 
          class="form-control border-0 border-bottom "
           id="floatingPassword"
            placeholder="Password"
            formControlName="password"
            >
          <label for="floatingPassword" class="text-muted mb-3">Password  </label>
          <div class=" mb-3" *ngIf="SinUpForm.get('password')?.errors  && SinUpForm.get('password')?.touched">
            <p *ngIf="SinUpForm.get('password')?.getError('required')" class="text-danger">* password required</p>
            <p *ngIf="SinUpForm.get('password')?.getError('pattern')" class="text-danger">*must be at least 6 letters</p>
           </div>
       </div>
          
          <div class="d-flex justify-content-end">
      
              <span>
                <a routerLink="/forgetpassword">Forget Password ?</a>
              </span>
           
        
          </div>
        
        
        
          <button class="w-100  mx-auto d-flex mt-4 mb-2 btn btn-sginUp " [disabled]="SinUpForm.invalid">Sign In</button>
        
        
          <p class=" text-center mb-5 mt-3">
            New In?
            <span>
              <a class="link-primary cursor-pointer" routerLink="/home">Sign Up</a>
            </span>
          </p>


</form>
     </div>
      </div>
      <div class="col-md-6">
    
        <div class="background-Sign">
          <div class="w-75 mx-auto ">
            <h1>Sign In</h1>
            <p>Welcome Back Our Partner !</p>
          </div>
     
        </div> 
      
    </div>
    
    </div>
    </div>
</section>