.signUpUser {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  min-height: 100vh;

  & > div {
    width: 50vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .background {
    color: var(--color-white);
    background-color: var(--color-main-blue);
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;

    h1 {
      font-size: 56px;
      font-weight: var(--font-weight-bold);
    }

    P {
      font-size: 40px;
      font-weight: var(--font-weight-extra-light);
      padding: 0 20px;
    }

    .shapes {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      .big-shape {
        position: absolute;
        top: 60%;
        left: 40%;
      }

      :nth-child(2) {
        position: absolute;
        top: 40%;
        left: -5%;
      }
      :nth-child(3) {
        position: absolute;
        top: 10%;
        left: 70%;
      }
      :nth-child(4) {
        position: absolute;
        top: 90%;
        left: 80%;
      }
      :nth-child(5) {
        position: absolute;
        top: -5%;
        left: 20%;
      }
    }
  }

  .signUpUser__content {
    max-width: 600px;
    margin: 0 auto;

    figure {
      width: 70%;
      max-width: 250px;
      margin: 0 auto;

      img {
        width: 80%;
        display: inline-block;
        margin-bottom: var(--padding-regular);
      }
    }

    form.signUp__form {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-direction: column;
      width: 100%;
      padding: 0 80px;
      gap: 30px;

      .form-floating {
        input {
          border-radius: 0;
        }

        .text-danger {
          font-size: 15px;
        }

        i {
          position: absolute;
          top: 20px;
          right: 10px;
          transform: translate(0, -50%);
          cursor: pointer;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    flex-direction: column-reverse;
    width: 100%;
    height: fit-content;

    .signUpUser__content form.signUp__form {
      padding: 0 20px;
    }

    & > div {
      height: fit-content;
      width: 100%;
    }

    .background {
      padding: 20px 0;
      max-height: 200px;
    }
  }
}

.logo {
  width: 50%;
  margin: 0 auto;
}

.form-control {
  box-shadow: none;
}

.btn-sginUp {
  font-weight: bold;
  font-size: 25px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: var(--color-main-blue);
}
