<app-nav-auth></app-nav-auth>

<div class="container-me">
  <div class="header__container">
    <section class="heroSection">
      <div class="text">
        <h1>Start your journey in investments with us !</h1>
      </div>
      <div class="img">
        <img
          src="./../../../assets/hero_section.png"
          alt="Happy Investors showing like reaction"
        />
        <div class="icons">
          <img
            class="icon1"
            src="./../../../assets/hero-icons/icon1.png"
            alt="trading up icon"
          />
          <img
            class="icon2"
            src="./../../../assets/hero-icons/icon2.png"
            alt="trade graph icon"
          />
          <img
            class="icon3"
            src="./../../../assets/hero-icons/icon3.png"
            alt="trade graph icon"
          />
        </div>
      </div>
      <div class="shadow">
        <img
          src="./../../../assets/hero-icons/big-shadow.png"
          alt="gradient of pink and yellow shadow"
        />
      </div>
    </section>

    <section class="partners">
      <div class="partners__title">
        <h2>Our partners</h2>
      </div>
      <div class="partners__logos">
        <div class="main">
          <div class="partners__logo">
            <p>EGYPTALUM</p>
          </div>
          <div class="partners__logo">
            <p>Salam EG</p>
          </div>
          <div class="partners__logo">
            <p>EZZSTEEL</p>
          </div>
          <div class="partners__logo">
            <p>Siory</p>
          </div>
          <div class="partners__logo">
            <p>EDITA</p>
          </div>
        </div>
        <div class="duplicate">
          <div class="partners__logo">
            <p>EGYPTALUM</p>
          </div>
          <div class="partners__logo">
            <p>Salam EG</p>
          </div>
          <div class="partners__logo">
            <p>EZZSTEEL</p>
          </div>
          <div class="partners__logo">
            <p>Siory</p>
          </div>
          <div class="partners__logo">
            <p>EDITA</p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="vision">
    <div class="vision__img">
      <img src="./../../../assets/vision/handshaking.png" alt="handshaking" />
    </div>
    <div class="vision__text">
      <h2 class="h2__heading">OUR VISION</h2>
      <p class="p__text">
        Our goal is to achieve the maximum benefit for investors and business
        owners throught our website
      </p>
    </div>
  </section>

  <section class="videos">
    <div class="video">
      <figure>
        <iframe
          src="https://www.youtube.com/embed/TeR_LEDU5AU?si=V2oE-z0OAM2FuC7-"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </figure>
      <div class="video__description">
        <h2 class="h2__heading">
          Investment <br />
          principles!
        </h2>
        <p class="p__text">with Ibrahim Salah</p>
      </div>
    </div>
    <div class="video">
      <figure>
        <iframe
          src="https://www.youtube.com/embed/h33QCYULQuQ?si=5ZTwGk2Nzac7Ay42"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </figure>
      <div class="video__description">
        <h2 class="h2__heading">
          6 tips for investing <br />
          your money
        </h2>
        <p class="p__text">with Andrew Nashaat</p>
      </div>
    </div>
    <div class="video">
      <figure>
        <iframe
          src="https://www.youtube.com/embed/bFfeCSbLaB8?si=BmBYsR-T2J9qFaEn"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </figure>
      <div class="video__description">
        <h2 class="h2__heading">
          Create your first <br />
          project
        </h2>
        <p class="p__text">with Nesma Foaad</p>
      </div>
    </div>
  </section>

  <section class="tutorial">
    <h2 class="h2__heading">How do I start?</h2>
    <div class="tutorial__steps">
      <div class="step">
        <h3>1</h3>
        <p class="p__text">sign up</p>
      </div>
      <div class="step">
        <h3>2</h3>
        <p class="p__text">Explore new opportunities</p>
      </div>
      <div class="step">
        <h3>3</h3>
        <p class="p__text">start investing</p>
      </div>
    </div>
  </section>

  <section class="why__us">
    <h2 class="h2__heading">Why Use Funds Flow?</h2>
    <div class="squares">
      <div class="square">
        <h3 class="p__text">Effortless accountopening</h3>
      </div>
      <div class="square">
        <h3 class="p__text">Intuitive investing</h3>
      </div>
      <div class="square">
        <h3 class="p__text">Flexible funding methods.</h3>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="contact">
      <div class="text">
        <p class="p__text">Be Connected With Us</p>
      </div>
      <div class="social__media">
        <div class="social">
          <img src="./../../../assets/contact-icons/phone.svg" alt="" />
          <p><a href="#" class="p__text">+(65) 6654 8076</a></p>
        </div>
        <div class="social">
          <img src="./../../../assets/contact-icons/email.svg" alt="" />
          <p><a href="#" class="p__text">Logo&#64;gmail.com</a></p>
        </div>
        <div class="social">
          <img src="./../../../assets/contact-icons/location.svg" alt="" />
          <p>
            <a href="#" class="p__text"
              >13- Foaad st , 5th settlement , Cairo
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="social__icons">
        <img
          src="./../../../assets/social-icons/facebook.svg"
          alt="facebook icon"
        />
        <img
          src="./../../../assets/social-icons/linkedin.svg"
          alt="linkedin icon"
        />
        <img
          src="./../../../assets/social-icons/twitter.svg"
          alt="twitter icon"
        />
        <img
          src="./../../../assets/social-icons/instagram.svg"
          alt="instagram icon"
        />
        <img
          src="./../../../assets/social-icons/youtube.svg"
          alt="youtube icon"
        />
      </div>
      <div class="terms">
        <p><a href="#" class="p__text">Terms Of Service</a></p>
        <p class="p__text">-</p>
        <p><a href="#" class="p__text">Privacy Policy</a></p>
      </div>
    </div>
  </footer>
</div>
