
$main-color: #0054a2;



// ===========================================
.m{
    margin-top: 20px;
}
.edd{
    align-items: center;
}



// ===============================================


    .borderAll{
        border-radius:  5px !important;
        border: 2px solid var(--color-main-blue);;
    }

   .inpuCss{
    color:var(--color-main-blue);;
    margin-right: 14%;
   }
   .dd{

    left: 47%;
    // bottom: 5%;
    top:88%
   }

.imgabout{

    border: 1px solid  transparent;
    border-radius: 30px;
    width:300px;
    height: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
}

.textarea-no-formatting {
    padding: 5px;
    // border: none;
    resize: none;
    outline: none;
    width: 100%; 
    box-sizing: border-box; 
  
  }
.btn1{
    background-color: var(--color-main-blue);;
    color: aliceblue;
    padding-left: 40px;
    padding-right: 40px;
}

.opportunity{

    border-radius: 15px;
    border: 1px solid  var(--color-main-blue);;
    // width: 30;
    padding: 10px 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px var(--color-main-blue); ;
    margin-right: 5px;

    }
    .details-color{
    
        background-color: var(--color-main-blue);;
        color: white;
    }
    
 
    .styleinput{

        font-size: 3.125rem;
       color: 0054a2;
    }
    #path_file{

        display: none;
    }
 


    .dashed{
        border:1px dashed var(--color-main-blue);;
        border-radius: 20px;
        padding: 10px 10px 0px 20px;



    }

    .stylePen{

        border: 1px solid var(--color-main-blue);;
        border-radius:50%;
        display: flex;
        align-items: center;
        padding: 4px;
        margin-bottom: 10px;
    }

    .advertismentsBorder{

        border:1px solid var(--color-main-blue);;
        // box-shadow: 0px 0px 5px var(--color-main-blue);;
        border-radius: 20px;
        padding: 10px 10px 0px 20px;
    }
    
    
    .status{
        text-align: center;
//  background-color: #0054a2;
        width: fit-content;
        height: 180px;
        border:solid 3px  var(--color-main-blue);
        border-radius: 10px;
        //   padding-: 10px;

    }
    
    .on{

        border-radius: 50%;
        background-color: green;
        color: white;
        padding: 3px;
    }

    .off{

        border-radius: 50%;
        background-color: rgb(116, 6, 6);
        color: white;
        padding: 3px;
        
    }