
<section class="text-center m-5">
    <button (click)="signOut()"  class="btn btn-primary">SignOut</button>
</section>
<button mat-raised-button (click)="openDialog('0ms', '0ms')">
    startNaw
</button> 

<!-- 

  <div class="container">
  <div class="header__container">
    <header class="header">
      <figure class="logo">
        <img src="./../../../assets/logo.png" alt="The funds flow logo" />
      </figure>
      <nav class="sign__btns">
        <button class="sign__btns__secondary" routerLink="/signIn">
          Sign In
        </button>
        <button class="sign__btns__main" (click)="openDialog('0ms', '0ms')">
          Sign Up
        </button>
      </nav>
    </header>

    <section class="heroSection">
      <div class="text">
        <h1>Start your journey in investments with us !</h1>
      </div>
      <div class="img">
        <img
          src="./../../../assets/hero_section.png"
          alt="Happy Investors showing like reaction"
        />
        <div class="icons">
          <img
            class="icon1"
            src="./../../../assets/hero-icons/icon1.png"
            alt="trading up icon"
          />
          <img
            class="icon2"
            src="./../../../assets/hero-icons/icon2.png"
            alt="trade graph icon"
          />
          <img
            class="icon3"
            src="./../../../assets/hero-icons/icon3.png"
            alt="trade graph icon"
          />
        </div>
      </div>
      <div class="shadow">
        <img
          src="./../../../assets/hero-icons/big-shadow.png"
          alt="gradient of pink and yellow shadow"
        />
      </div>
    </section>

    <section class="partners">
      <div class="partners__title">
        <h2>Our partners</h2>
      </div>
      <div class="partners__logos">
        <div class="main">
          <div class="partners__logo">
            <p>EGYPTALUM</p>
          </div>
          <div class="partners__logo">
            <p>Salam EG</p>
          </div>
          <div class="partners__logo">
            <p>EZZSTEEL</p>
          </div>
          <div class="partners__logo">
            <p>Siory</p>
          </div>
          <div class="partners__logo">
            <p>EDITA</p>
          </div>
        </div>
        <div class="duplicate">
          <div class="partners__logo">
            <p>EGYPTALUM</p>
          </div>
          <div class="partners__logo">
            <p>Salam EG</p>
          </div>
          <div class="partners__logo">
            <p>EZZSTEEL</p>
          </div>
          <div class="partners__logo">
            <p>Siory</p>
          </div>
          <div class="partners__logo">
            <p>EDITA</p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="vision">
    <div class="vision__img">
      <img src="./../../../assets/vision/handshaking.png" alt="handshaking" />
    </div>
    <div class="vision__text">
      <h2 class="h2__heading">OUR VISION</h2>
      <p>
        Our goal is to achieve the maximum benefit for investors and business
        owners throught our website
      </p>
    </div>
  </section>

  <section class="videos">
    <div class="video">
      <figure>
        <img
          src="./../../../assets/video-icons/investment principles.png"
          alt="investment principles"
        />
        <img
          class="play__video"
          src="./../../../assets/video-icons/play-video-icon.svg"
          alt="play video icon"
        />
      </figure>
      <div class="video__description">
        <h2>
          Investment <br />
          principles!
        </h2>
        <p>with Ibrahim Salah</p>
      </div>
    </div>
    <div class="video">
      <figure>
        <img
          src="./../../../assets/video-icons/6 tips for investing your money.png"
          alt="6 tips for investing your money"
        />
        <img
          class="play__video"
          src="./../../../assets/video-icons/play-video-icon.svg"
          alt="play video icon"
        />
      </figure>
      <div class="video__description">
        <h2>
          6 tips for investing <br />
          your money
        </h2>
        <p>with Andrew Nashaat</p>
      </div>
    </div>
    <div class="video">
      <figure>
        <img
          src="./../../../assets/video-icons/Create your first project.png"
          alt="Create your first project"
        />
        <img
          class="play__video"
          src="./../../../assets/video-icons/play-video-icon.svg"
          alt="play video icon"
        />
      </figure>
      <div class="video__description">
        <h2>
          Create your first <br />
          project
        </h2>
        <p>with Nesma Foaad</p>
      </div>
    </div>
  </section>

  <section class="tutorial">
    <h2 class="h2__heading">How do I start?</h2>
    <div class="tutorial__steps">
      <div class="step">
        <h3>1</h3>
        <p>sign up</p>
      </div>
      <div class="step">
        <h3>2</h3>
        <p>Explore new opportunities</p>
      </div>
      <div class="step">
        <h3>3</h3>
        <p>start investing</p>
      </div>
    </div>
  </section>

  <section class="why__us">
    <h2 class="h2__heading">Why Use Funds Flow?</h2>
    <div class="squares">
      <div class="square">
        <h3>Effortless accountopening</h3>
      </div>
      <div class="square">
        <h3>Intuitive investing</h3>
      </div>
      <div class="square">
        <h3>Flexible funding methods.</h3>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="contact">
      <div class="text">
        <p>Be Connected With Us</p>
      </div>
      <div class="social__media">
        <div class="social">
          <img src="./../../../assets/contact-icons/phone.svg" alt="" />
          <p><a href="#">+(65) 6654 8076</a></p>
        </div>
        <div class="social">
          <img src="./../../../assets/contact-icons/email.svg" alt="" />
          <p><a href="#">Logo&#64;gmail.com</a></p>
        </div>
        <div class="social">
          <img src="./../../../assets/contact-icons/location.svg" alt="" />
          <p><a href="#">13- Foaad st , 5th settlement , Cairo </a></p>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="social__icons">
        <img
          src="./../../../assets/social-icons/facebook.svg"
          alt="facebook icon"
        />
        <img
          src="./../../../assets/social-icons/linkedin.svg"
          alt="linkedin icon"
        />
        <img
          src="./../../../assets/social-icons/twitter.svg"
          alt="twitter icon"
        />
        <img
          src="./../../../assets/social-icons/instagram.svg"
          alt="instagram icon"
        />
        <img
          src="./../../../assets/social-icons/youtube.svg"
          alt="youtube icon"
        />
      </div>
      <div class="terms">
        <p><a href="#">Terms Of Service</a></p>
        <p><a href="#">Privacy Policy</a></p>
      </div>
    </div>
  </footer>
</div> -->
<!-- 
<div class="container">
    <div class="header__container">
      <header class="header__with__nav">
        <figure class="logo">
          <img src="../../../assets/logo.png" alt="The funds flow logo" />

        </figure>
        <nav class="nav__bar">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </nav>
        <figure class="profile">
          <img src="../../../assets/profile.jpeg" alt="profile icon" />

        </figure>
      </header>
  
      <section class="heroSection__with__bg">
        <nav class="sign__btns">
          <button class="sign__btns__main" routerLink="/signIn">Post</button>
          <button class="sign__btns__main" (click)="openDialog('0ms', '0ms')">
            Invest
          </button>
        </nav>
      </section>
  
      <section class="partners">
        <div class="partners__title">
          <h2>Our partners</h2>
        </div>
        <div class="partners__logos">
          <div class="main">
            <div class="partners__logo">
              <p>EGYPTALUM</p>
            </div>
            <div class="partners__logo">
              <p>Salam EG</p>
            </div>
            <div class="partners__logo">
              <p>EZZSTEEL</p>
            </div>
            <div class="partners__logo">
              <p>Siory</p>
            </div>
            <div class="partners__logo">
              <p>EDITA</p>
            </div>
          </div>
          <div class="duplicate">
            <div class="partners__logo">
              <p>EGYPTALUM</p>
            </div>
            <div class="partners__logo">
              <p>Salam EG</p>
            </div>
            <div class="partners__logo">
              <p>EZZSTEEL</p>
            </div>
            <div class="partners__logo">
              <p>Siory</p>
            </div>
            <div class="partners__logo">
              <p>EDITA</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  
    <section class="categories">
      <div class="heading">
        <h2 class="h2__heading">Categories</h2>
        <a href="#">See All</a>
      </div>
      <div class="categories__container">
        <div class="category">
          <img
            src="../../../assets/categories-icons/real-estate.jpeg"

            alt="real-estate icon"
          />
          <h3>Real Estate</h3>
        </div>
        <div class="category">
          <img
            src="../../assets/categories-icons/technology.jpeg"
            alt="Technology icon"
          />
          <h3>Technology</h3>
        </div>
        <div class="category">
          <img
            src="../../assets/categories-icons/medical.jpeg"
            alt="Medical icon"
          />
          <h3>Medical</h3>
        </div>
      </div>
    </section>
  
    <section class="weekly__inv">
      <h2 class="h2__heading">Our Best Weekly Investments</h2>
      <div class="best__container">
        <div class="best">
          <img src="../../../assets/best/belta.png" />
          <h3>Belta EG</h3>
        </div>
        <div class="best">
          <img src="../../../assets/best/queen-ratio.png" />
          <h3>QR Group</h3>
        </div>
        <div class="best">
          <img src="../../../assets/best/salam.png" />
          <h3>Salam EG</h3>
        </div>
        <div class="best">
          <img src="../../../assets/best/uvg.png" />
          <h3>UVG COM</h3>
        </div>
      </div>
    </section>
  
    <footer class="footer">
      <div class="contact">
        <div class="text">
          <p>Be Connected With Us</p>
        </div>
        <div class="social__media">
          <div class="social">
            <img src="../../../assets/contact-icons/phone.svg" alt="" />

            <p><a href="#">+(65) 6654 8076</a></p>
          </div>
          <div class="social">
            <img src="../../../assets/contact-icons/email.svg" alt="" />

            <p><a href="#">Logo&#64;gmail.com</a></p>
          </div>
          <div class="social">
            <img src="../../../assets/contact-icons/location.svg" alt="" />
            <p><a href="#">13- Foaad st , 5th settlement , Cairo </a></p>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="social__icons">
          <img
            src="../../../assets/social-icons/facebook.svg"
            alt="facebook icon"
          />
          <img
            src="../../../assets/social-icons/linkedin.svg"
            alt="linkedin icon"
          />
          <img
            src="../../../assets/social-icons/twitter.svg"
            alt="twitter icon"
          />
          <img
            src="../../../assets/social-icons/instagram.svg"
            alt="instagram icon"
          />
          <img
            src="../../../assets/social-icons/youtube.svg"
            alt="youtube icon"
          />
        </div>
        <div class="terms">
          <p><a href="#">Terms Of Service</a></p>
          <p><a href="#">Privacy Policy</a></p>
        </div>
      </div>
    </footer>
  </div> --> 
