<!-- 
<section class="text-center m-5">
    <button (click)="signOut()"  class="btn btn-primary">SignOut</button>
</section>
<button mat-raised-button (click)="openDialog('0ms', '0ms')">
    startNaw
</button>  -->


<div class="container">
  
<div class="container">
  <div class="header__container">

    <section class="heroSection__with__bg">
      <nav class="sign__btns">
        <button class="sign__btns__main" routerLink="/categories">Post</button>


        <button    class="sign__btns__main" >
          Invest
        </button>
      </nav>
    </section>

    <section class="partners">
      <div class="partners__title">
        <h2>Our partners</h2>
      </div>
      <div class="partners__logos">
        <div class="main">
          <div class="partners__logo">
            <p>EGYPTALUM</p>
          </div>
          <div class="partners__logo">
            <p>Salam EG</p>
          </div>
          <div class="partners__logo">
            <p>EZZSTEEL</p>
          </div>
          <div class="partners__logo">
            <p>Siory</p>
          </div>
          <div class="partners__logo">
            <p>EDITA</p>
          </div>
        </div>
        <div class="duplicate">
          <div class="partners__logo">
            <p>EGYPTALUM</p>
          </div>
          <div class="partners__logo">
            <p>Salam EG</p>
          </div>
          <div class="partners__logo">
            <p>EZZSTEEL</p>
          </div>
          <div class="partners__logo">
            <p>Siory</p>
          </div>
          <div class="partners__logo">
            <p>EDITA</p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="categories">
    <div class="heading">
      <h2 class="h2__heading">Categories</h2>
      <a href="#">See All</a>
    </div>
    <div class="categories__container">
      <div class="category">
        <img
          src="./../../../assets/categories-icons/real-estate.jpeg"
          alt="real-estate icon"
        />
        <h3 class="p__text">Real Estate</h3>
      </div>
      <div class="category">
        <img
          src="./../../../assets/categories-icons/technology.jpeg"
          alt="Technology icon"
        />
        <h3 class="p__text">Technology</h3>
      </div>
      <div class="category">
        <img
          src="./../../../assets/categories-icons/medical.jpeg"
          alt="Medical icon"
        />
        <h3 class="p__text">Medical</h3>
      </div>
    </div>
  </section>

  <section class="weekly__inv">
    <h2 class="h2__heading">Our Best Weekly Investments</h2>
    <div class="best__container">
      <div class="best">
        <img src="./../../../assets/best/belta.png" />
        <h3 class="p__text">Belta EG</h3>
      </div>
      <div class="best">
        <img src="./../../../assets/best/queen-ratio.png" />
        <h3 class="p__text">QR Group</h3>
      </div>
      <div class="best">
        <img src="./../../../assets/best/salam.png" />
        <h3 class="p__text">Salam EG</h3>
      </div>
      <div class="best">
        <img src="./../../../assets/best/uvg.png" />
        <h3 class="p__text">UVG COM</h3>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="contact">
      <div class="text">
        <p class="p__text">Be Connected With Us</p>
      </div>
      <div class="social__media">
        <div class="social">
          <img src="./../../../assets/contact-icons/phone.svg" alt="" />
          <p><a href="#" class="p__text">+(65) 6654 8076</a></p>
        </div>
        <div class="social">
          <img src="./../../../assets/contact-icons/email.svg" alt="" />
          <p><a href="#" class="p__text">Logo&#64;gmail.com</a></p>
        <div class="social">
          <img src="./../../../assets/contact-icons/email.svg" alt="" />
          <p><a href="#" class="p__text">Logo&#64;gmail.com</a></p>
        </div>
        <div class="social">
          <img src="./../../../assets/contact-icons/location.svg" alt="" />
          <p>
            <a href="#" class="p__text"
              >13- Foaad st , 5th settlement , Cairo
            </a>
          </p>
        <div class="social">
          <img src="./../../../assets/contact-icons/location.svg" alt="" />
          <p>
            <a href="#" class="p__text"
              >13- Foaad st , 5th settlement , Cairo
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="social__icons">
        <img
          src="./../../../assets/social-icons/facebook.svg"
          alt="facebook icon"
        />
        <img
          src="./../../../assets/social-icons/linkedin.svg"
          alt="linkedin icon"
        />
        <img
          src="./../../../assets/social-icons/twitter.svg"
          alt="twitter icon"
        />
        <img
          src="./../../../assets/social-icons/instagram.svg"
          alt="instagram icon"
        />
        <img
          src="./../../../assets/social-icons/youtube.svg"
          alt="youtube icon"
        />
      </div>
      <div class="terms">
        <p><a href="#" class="p__text">Terms Of Service</a></p>
        <p class="p__text">-</p>
        <p><a href="#" class="p__text">Privacy Policy</a></p>
      </div>
    </div>
  <!-- </footer> -->
  </div>


</div>