<div class="container-me container">
  <div class="header__container">
    <section class="heroSection__with__bg">
      <h1>Discover your path to wealth with us.</h1>
      <nav class="sign__btns">
        <button
          class="btn1 btn"
          routerLink="/invest"
          *ngIf="roleBuss == 'business'"
        >
          Post
        </button>
        <button
          class="btn1 btn"
          routerLink="/categories"
          *ngIf="roleInvestor == 'investor' "
        >
          Invest
        </button>
      </nav>
    </section>

    <section class="partners">
      <div class="partners__title">
        <h2 class="h2__heading">Our partners</h2>
      </div>
      <div class="partners__logos">
        <div class="main">
          <div class="partners__logo">
            <p>EGYPTALUM</p>
          </div>
          <div class="partners__logo">
            <p>Salam EG</p>
          </div>
          <div class="partners__logo">
            <p>EZZSTEEL</p>
          </div>
          <div class="partners__logo">
            <p>Siory</p>
          </div>
          <div class="partners__logo">
            <p>EDITA</p>
          </div>
        </div>
        <div class="duplicate">
          <div class="partners__logo">
            <p>EGYPTALUM</p>
          </div>
          <div class="partners__logo">
            <p>Salam EG</p>
          </div>
          <div class="partners__logo">
            <p>EZZSTEEL</p>
          </div>
          <div class="partners__logo">
            <p>Siory</p>
          </div>
          <div class="partners__logo">
            <p>EDITA</p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="categories">
    <div class="heading">
      <h2 class="h2__heading">Categories</h2>
      <a class="p__text" routerLink="/categories">See All</a>
    </div>
    <div class="categories__container">
      <div class="category">
        <img
          src="./../../../assets/categories-icons/real-estate.jpeg"
          alt="real-estate icon"
        />
        <h3 class="p__text">Real Estate</h3>
      </div>
      <div class="category">
        <img
          src="./../../../assets/categories-icons/technology.jpeg"
          alt="Technology icon"
        />
        <h3 class="p__text">Technology</h3>
      </div>
      <div class="category">
        <img
          src="./../../../assets/categories-icons/medical.jpeg"
          alt="Medical icon"
        />
        <h3 class="p__text">Medical</h3>
      </div>
    </div>
  </section>

  <section class="weekly__inv">
    <h2 class="h2__heading">Our Best Weekly Investments</h2>
    <div class="best__container">
      <div class="best">
        <img src="./../../../assets/best/belta.png" />
        <h3 class="p__text">Belta EG</h3>
      </div>
      <div class="best">
        <img src="./../../../assets/best/queen-ratio.png" />
        <h3 class="p__text">QR Group</h3>
      </div>
      <div class="best">
        <img src="./../../../assets/best/salam.png" />
        <h3 class="p__text">Salam EG</h3>
      </div>
      <div class="best">
        <img src="./../../../assets/best/uvg.png" />
        <h3 class="p__text">UVG COM</h3>
      </div>
    </div>
  </section>
</div>
