@import "./../../../assets/edite.scss";

.categories {
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--padding-small);

    h2 {
      margin-bottom: 0;
    }

    a {
      text-decoration: underline;
    }
  }
  .categories__container {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: stretch;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--padding-regular) var(--padding-regular);

    .category {
      display: grid;
      justify-content: center;
      align-items: stretch;
      grid-template-rows: auto 45px;
      margin-bottom: -40px;

      img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: var(--border-radius-20);
        overflow: hidden;
        position: relative;
        background: linear-gradient(
            0deg,
            rgba(0, 101, 255, 0.27),
            rgba(0, 101, 255, 0.27)
          )
          center center no-repeat;
      }
      h3 {
        background-color: var(--color-main-blue);
        color: var(--color-white);
        border-radius: var(--border-radius-20);
        text-align: center;
        padding-block: var(--padding-small);
        transform: translate(0, -100%);
      }
    }

    @media (max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 650px) {
      grid-template-columns: 1fr;
      .category {
        justify-content: stretch;
      }
    }
  }
}
