@import "./../../../assets/edite.scss";


.container {
  @include flexBox(
    $direction: column,
    $wrap: wrap,
    $gap: calc(var(--padding-extra-large) * 3)
  );
  @include boxModel(98px var(--padding-medium) 0, 0 auto);
}

.header__container {
  width: 100%;
  height: fit-content;
}

.header {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-regular) var(--padding-medium) var(--padding-small);
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, 0);

  &::after {
    content: "";
    background-color: transparent;
    backdrop-filter: blur(50px);
    width: 100vw;
    height: 98px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.5);
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    img {
      width: 80px;
    }
  }

  .sign__btns {
    display: flex;
    gap: var(--padding-regular);

    button {
      padding: var(--padding-small) var(--padding-medium);
      border-radius: var(--border-radius-10);
      font-size: var(--font-size-14);
      transition: all var(--timing);
    }
    &__main {
      background-color: var(--color-main-blue);
      color: var(--color-white);

      &:hover {
        background-color: var(--color-white);
        color: var(--color-black);
        border: 1px solid var(--color-main-blue);
      }
    }
    &__secondary {
      background-color: var(--color-white);
      color: var(--color-black);
      border: 1px solid var(--color-main-blue);

      &:hover {
        background-color: var(--color-main-blue);
        color: var(--color-white);
      }
    }
  }
}

.heroSection {
  @include gridBox(
    $gapRow: var(--padding-large),
    $gapCol: var(--padding-large)
  );
  position: relative;
  background-color: var(--color-light-white);
  @include boxModel(
    $padding: calc(var(--padding-extra-large) * 2.5) var(--padding-medium),
    $margin: var(--padding-regular) 0 0 0,
    $radius: var(--border-radius-10)
  );
  z-index: 1;
  overflow: hidden;
  position: relative;

  > div {
    width: 100%;
  }

  .text {
    padding-inline-start: var(--padding-small);

    h1 {
      @include fonts($size: 72px, $weight: var(--font-weight-medium));
    }
  }

  .img {
    @include flexBox($gap: 0);
    position: relative;

    > img {
      @include widthHeight(
        $width: 100%,
        $maxWidth: 484.5px,
        $maxHeight: 484.5px
      );
    }

    .icons {
      @include absolute($height: 100%);

      img {
        @include absolute($width: 50px);
      }

      .icon1 {
        @include absolute($width: 65px, $top: 45%);
        z-index: -1;
      }
      .icon2 {
        @include absolute($width: 150px, $top: calc(100% - 90px), $left: 45%);
        z-index: 2;
      }
      .icon3 {
        @include absolute($width: 100px, $top: 5%, $left: 45%);
        z-index: -1;
      }
    }
  }

  .shadow {
    @include absolute($height: 100%);
    z-index: -1;

    img {
      @include widthHeight($width: 100%, $height: 100%);
    }
  }
  @media (max-width: 1000px) {
    grid-template-columns: 100%;
  }

  @media (max-width: 500px) {
    .text h1 {
      font-size: 45px;
      word-break: break-word;
    }
  }
}

.partners {
  width: 100%;

  &__title {
    @include flexBox($gap: 0);
    position: relative;
    padding-block: var(--padding-extra-large);

    h2 {
      width: fit-content;
      background-color: var(--color-white);
      padding: 0 var(--padding-regular);
      text-align: center;
      z-index: 2;
      @include fonts(var(--font-size-38), var(--font-weight-extra-bold));
    }

    &::after {
      @include after($height: 2px);
      background-color: var(--color-black);
      flex: 1 0 100%;
      @include absolute($top: 50%, $height: 2px);
      transform: translateY(-50%);
      z-index: -1;
    }
  }

  &__logos {
    overflow: hidden;
    width: 100%;
    height: 100px;
    background-color: var(--color-main-blue);
    border-radius: var(--border-radius-20);
    position: relative;

    .main,
    .duplicate {
      @include flexBox($justify: space-evenly, $gap: 0);
      @include absolute($top: 50%);
      min-width: 1000px;
      transform: translate(0, -50%);
      animation: showBrands 10s infinite linear;
      visibility: visible;
      opacity: 1;
    }

    .duplicate {
      transform: translate(100%, -50%);
      animation: showBrandsLate 10s infinite linear;
    }

    @keyframes showBrands {
      0% {
        transform: translate(0, -50%);
        visibility: visible;
        opacity: 1;
      }
      97% {
        transform: translate(-100%, -50%);
        visibility: visible;
        opacity: 1;
      }
      98% {
        transform: translate(-100%, -50%);
        visibility: hidden;
        opacity: 0;
      }
      99% {
        transform: translate(0, -50%);
        visibility: hidden;
        opacity: 0;
      }
      100% {
        transform: translate(0, -50%);
        visibility: visible;
        opacity: 1;
      }
    }
    @keyframes showBrandsLate {
      0% {
        transform: translate(100%, -50%);
        visibility: visible;
        opacity: 1;
      }
      97% {
        transform: translate(0, -50%);
        visibility: visible;
        opacity: 1;
      }
      98% {
        transform: translate(0, -50%);
        visibility: hidden;
        opacity: 0;
      }
      99% {
        transform: translate(100%, -50%);
        visibility: hidden;
        opacity: 0;
      }
      100% {
        transform: translate(100%, -50%);
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__logo {
    @include fonts(var(--font-size-26), var(--font-weight-bold));
    color: var(--color-white);

    p {
      margin: 0;
    }
  }
}

.vision {
  @include gridBox($gapRow: 0, $gapCol: 0);

  &__img {
    background-color: var(--color-beige);
    border-top-left-radius: calc(var(--border-radius-50) * 6);
    @include flexBox($gap: 0);

    img {
      width: 100%;
      padding-block: calc(var(--padding-extra-large) * 3.5);
    }
  }

  &__text {
    padding-inline-start: var(--padding-large);
  }

  @media (max-width: 1000px) {
    grid-template-columns: 100%;
    gap: var(--padding-extra-large);

    &__text {
      padding-inline-start: 0;
    }
  }
}

.videos {
  @include gridBox(
    $align: stretch,
    $gapCol: var(--padding-regular),
    $gapRow: var(--padding-regular),
    $colsNum: 3
  );

  .video {
    @include gridBox(
      $align: stretch,
      $gapRow: var(--padding-small),
      $gapCol: 0,
      $colsNum: 1
    );
    grid-template-rows: 436px auto;

    figure {
      @include flexBox($gap: 0);
      @include widthHeight($width: 100%, $height: 436px, $maxHeight: 436px);
      border-radius: var(--border-radius-20);
      overflow: hidden;
      position: relative;
      background: linear-gradient(
          0deg,
          rgba(0, 101, 255, 0.27),
          rgba(0, 101, 255, 0.27)
        )
        center center no-repeat;

      img {
        height: 100%;
        max-height: 100%;
        z-index: -1;
      }

      .play__video {
        @include absolute($top: 50%, $left: 50%, $width: 60px, $height: 60px);
        transform: translate(-50%, -50%);
        z-index: 4;
        cursor: pointer;
      }
    }

    &__description {
      @include boxModel(
        $border: 1px solid var(--color-grey),
        $radius: var(--border-radius-10),
        $padding: var(--padding-regular)
      );

      h2 {
        @include fonts(var(--font-size-22), var(--font-weight-medium));
        color: var(--color-light-blue);
        margin-bottom: var(--padding-small);
      }

      p {
        @include fonts(var(--font-size-16), var(--font-weight-regular));
        color: var(--color-gray);
      }
    }
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 600px) {
    grid-template-columns: 100%;
  }
}

.tutorial {
  h2 {
    text-align: center;
  }

  &__steps {
    @include flexBox($justify: space-around, $align: flex-start, $gap: 0);

    .step {
      @include flexBox($direction: column, $gap: 0);
      flex: 0 0 25%;

      h3 {
        @include fonts(calc(var(--font-size-34) * 2));
        color: var(--color-white);
        background-color: var(--color-main-blue);
        @include flexBox($gap: 0);
        width: 160px;
        height: 160px;
        padding: var(--padding-extra-large);
        margin-top: var(--padding-extra-large);
        border-radius: 50%;
      }
      p {
        font-weight: var(--font-weight-bold);
        text-align: center;
      }
    }

    @media (max-width: 720px) {
      @include flexBox($direction: column, $gap: 0);
      .step {
        flex: 0 0 100%;
      }
    }
  }
}

.why__us {
  width: 100%;
  h2 {
    text-align: center;
  }
  .squares {
    @include gridBox(
      $justify: space-between,
      $gapCol: var(--padding-regular),
      $gapRow: var(--padding-regular),
      $colsNum: 3,
      $colsWidth: 30%
    );

    @media (max-width: 1000px) {
      grid-template-columns: repeat(2, 45%);
    }
    @media (max-width: 720px) {
      grid-template-columns: 80%;
      justify-content: center;
    }
  }
  .square {
    @include flexBox($gap: 0);
    padding: var(--padding-extra-large);
    background-color: var(--color-beige);
    height: 400px;
    border-radius: var(--border-radius-20);

    h3 {
      text-align: center;
      font-weight: var(--font-weight-bold);
    }
  }
}

.footer {
  width: 100%;
  position: relative;
  color: var(--color-white);

  &::after {
    content: "";
    background-color: var(--color-main-blue);
    @include absolute($left: 50%, $width: 100vw, $height: 100%);
    transform: translate(-50%, 0);
    z-index: -5;
  }
  .contact {
    @include gridBox(
      $justify: space-between,
      $colsWidth: auto,
      $gapCol: 0,
      $gapRow: 0
    );
    padding-top: calc(var(--padding-extra-large) * 2);

    &::after {
      content: "";
      background-color: var(--color-white);
      width: 100%;
      height: 3px;
      margin-block: var(--padding-extra-large);
      grid-column: 1 / 3;
    }

    .text p {
      font-weight: var(--font-weight-bold);
      padding-inline-start: var(--padding-regular);
    }
    .social__media {
      @include flexBox(
        $align: flex-start,
        $direction: column,
        $gap: var(--padding-large)
      );

      .social {
        @include flexBox(
          $justify: flex-start,
          $align: flex-start,
          $gap: var(--padding-regular)
        );

        img {
          width: 50px;
          height: 50px;
        }

        p a {
          font-size: var(--font-size-22);
          font-weight: var(--font-weight-light);
          max-width: 350px;
        }
      }
    }

    @media (max-width: 1000px) {
      @include flexBox($direction: column, $gap: var(--padding-large));

      > div {
        width: 100%;
      }

      .text p {
        padding: 0;
      }

      .social__media .social p a {
        word-break: break-all;
      }
    }
  }

  .copyright {
    @include flexBox($justify: space-between, $gap: 0);
    margin-bottom: var(--padding-regular);

    .social__icons {
      @include flexBox($justify: flex-start, $gap: var(--padding-regular));

      img {
        width: 40px;
        height: 40px;
      }
    }
    .terms {
      @include flexBox($justify: flex-end, $gap: var(--padding-regular));

      p a {
        font-size: var(--font-size-18);
        font-weight: var(--font-weight-light);
      }
    }

    @media (max-width: 1000px) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: var(--padding-regular);

      .social__icons {
        flex-wrap: wrap;
      }
    }
  }
}

.header__with__nav {
  width: 100%;
  max-width: var(--max-width);
  @include flexBox($justify: space-between, $gap: 0);
  padding: var(--padding-regular) var(--padding-medium) var(--padding-small);
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, 0);

  &::after {
    content: "";
    background-color: transparent;
    backdrop-filter: blur(50px);
    width: 100vw;
    height: 98px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.5);
  }

  .nav__bar ul {
    @include flexBox($gap: var(--padding-extra-large));
    list-style: none;

    li a {
      position: relative;
    }
    li a:hover::after {
      content: "";
      @include absolute($top: 100%, $width: 80%, $height: 3px);
      background-color: var(--color-main-blue);
      animation: progressBar var(--timing) ease-in-out;
      transition: all var(--timing);
    }

    @keyframes progressBar {
      0% {
        width: 0;
      }
    }

    @media (max-width: 720px) {
      display: none;
    }
  }

  .logo {
    @include flexBox($justify: flex-start, $gap: 0, $width: auto);
    margin: 0;

    img {
      width: 80px;
    }
  }

  .profile {
    width: 60px;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }
}

.heroSection__with__bg {
  @include gridBox(
    $gapCol: var(--padding-large),
    $gapRow: var(--padding-large)
  );
  position: relative;
  background-color: var(--color-light-white);
  margin-top: var(--padding-regular);
  border-radius: var(--border-radius-10);
  padding: 0 var(--padding-medium);
  z-index: 1;
  overflow: hidden;
  background: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(255, 255, 255, 0.5)
    ),
    url("./../../../assets/hero__invest.jpeg") no-repeat center;
  background-size: cover;
  min-height: 600px;

  .sign__btns {
    @include flexBox(
      $justify: flex-start,
      $align: flex-end,
      $gap: var(--padding-large)
    );
    height: 85%;

    button {
      padding: var(--padding-small) var(--padding-large);
      border-radius: var(--border-radius-10);
      font-size: var(--font-size-20);
      transition: all var(--timing);
    }
    &__main {
      background-color: var(--color-main-blue);
      color: var(--color-white);

      &:hover {
        background-color: var(--color-white);
        color: var(--color-black);
        border: 1px solid var(--color-main-blue);
      }
    }
    &__secondary {
      background-color: var(--color-white);
      color: var(--color-black);
      border: 1px solid var(--color-main-blue);

      &:hover {
        background-color: var(--color-main-blue);
        color: var(--color-white);
      }
    }
  }
}

.categories {
  .heading {
    @include flexBox($justify: space-between, $gap: 0);

    a {
      text-decoration: underline;
      font-size: var(--font-size-24);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .categories__container {
    @include gridBox(
      $align: stretch,
      $colsNum: 3,
      $gapCol: var(--padding-regular),
      $gapRow: var(--padding-regular)
    );

    .category {
      @include gridBox($align: stretch, $colsNum: 1, $gapCol: 0, $gapRow: 0);
      grid-template-rows: 358px auto;
      margin-bottom: -70px;

      img {
        @include flexBox($gap: 0);
        @include widthHeight($width: 100%, $height: 358px, $maxHeight: 358px);
        border-radius: var(--border-radius-20);
        overflow: hidden;
        position: relative;
        background: linear-gradient(
            0deg,
            rgba(0, 101, 255, 0.27),
            rgba(0, 101, 255, 0.27)
          )
          center center no-repeat;
      }
      h3 {
        background-color: var(--color-main-blue);
        color: var(--color-white);
        border-radius: var(--border-radius-20);
        text-align: center;
        padding-block: var(--padding-regular);
        transform: translate(0, -100%);
      }
    }

    @media (max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 720px) {
      grid-template-columns: 100%;
    }
  }
}

.weekly__inv {
  h2 {
    text-align: center;
  }
  .best__container {
    position: relative;
    @include gridBox(
      $justify: space-between,
      $align: stretch,
      $colsNum: 4,
      $colsWidth: 20%,
      $gapCol: 0,
      $gapRow: 0
    );
    padding-block: var(--padding-extra-large);

    &::after {
      content: "";
      background-color: var(--color-main-blue);
      @include absolute($left: 50%, $width: 100vw, $height: 100%);
      transform: translate(-50%, 0);
      z-index: -5;
    }

    .best,
    .best img {
      width: 100%;
      margin-bottom: var(--padding-small);
    }

    h3 {
      color: var(--color-white);
      text-align: center;
    }

    @media (max-width: 720px) {
      grid-template-columns: repeat(2, 45%);
      gap: var(--padding-regular) 0;
    }
  }
}

.about__header {
  @include flexBox($direction: column, $gap: 0);
  height: calc(90vh - 100px);
  max-height: 800px;
  margin: 0 auto;

  figure {
    margin-block: -100px;
    width: 500px;
    max-width: 80%;

    img {
      width: 100%;
    }
  }
  @media (max-width: 500px) {
    max-height: 400px;
    figure {
      margin-block: 0;
    }

    h1 {
      margin-block-start: -90px;
      z-index: 5;
    }
  }
  @media (max-width: 400px) {
    h1 {
      margin-block-start: -60px;
    }
  }
}

.about {
  @include gridBox(
    $gapCol: var(--padding-medium),
    $gapRow: var(--padding-medium)
  );
  position: relative;
  z-index: 2;

  .background {
    @include absolute($height: 100%);
    .bigShape {
      @include absolute($width: 350px, $left: 50%);
      transform: translate(-50%, -50%);
      z-index: -5;
      max-width: 100%;
    }
    .smallShape {
      @include absolute($width: 250px, $top: 100%, $left: 30%);
      z-index: 2;
      transform: rotate(125deg) translate(0, 100%);
    }
  }

  figure {
    background-color: var(--color-white);
    border-radius: 10px;
    border: 1px solid var(--color-main-blue);
    background: #fff;
    box-shadow: 8px 5px 10px 0px var(--color-main-blue);
    @include flexBox($gap: 0);
    margin-inline-end: var(--padding-medium);
    padding-block: var(--padding-extra-large);

    img {
      width: 500px;
      max-width: 80%;
    }
  }
  .text {
    @include flexBox($align: flex-start, $gap: 0, $direction: column);
  }

  @media (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);

    .background .smallShape {
      display: none;
    }
  }
}

.team {
  @include flexBox($direction: column, $gap: 0);

  @media (max-width: 720px) {
    p {
      text-align: center;
    }
  }

  &__container {
    @include gridBox(
      $justify: space-evenly,
      $colsNum: 4,
      $gapCol: 0,
      $gapRow: 50px
    );
    margin-top: 20px;
  }
  &__member {
    @include flexBox($gap: 0);

    img {
      width: 50%;
      border-radius: 50%;
    }
  }

  @media (max-width: 850px) {
    &__container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 720px) {
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 400px) {
    &__container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.contactForm {
  width: 100%;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--padding-regular);

  .text {
    h1.h2__heading {
      margin-bottom: 0;
    }
    p.big {
      font-size: 50px;
    }
  }

  form {
    background-color: var(--color-main-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: var(--padding-medium) var(--padding-large);
    border-radius: var(--border-radius-10);
    gap: var(--padding-small);

    input,
    textarea {
      width: 100%;
      border: none;
      border-radius: var(--border-radius-10);
      padding: var(--padding-regular) var(--padding-medium);
      font-size: var(--font-size-18);
    }
    textarea {
      height: 200px;
    }

    button[type="submit"] {
      background-color: var(--color-white);
      color: var(--color-main-blue);
      font-weight: var(--font-weight-bold);
      border: none;
      border-radius: var(--border-radius-50);
      padding: var(--padding-small) var(--padding-large);
    }
  }

  @media (max-width: 1000px) {
    grid-template-columns: 100%;
    gap: var(--padding-extra-large);

    form {
      width: 100%;
      max-width: 500px;
      padding: var(--padding-regular) var(--padding-medium);
      margin: 0 auto;
    }
  }
}

.social__links {
  > div {
    width: 30%;
    min-width: 300px;
    max-width: 30%;
    background-color: var(--color-main-blue);
    border-radius: var(--border-radius-10);

    .h2__heading {
      font-size: var(--font-size-26);
      margin-bottom: 0;
    }
    .p__text {
      word-break: break-word;
    }
  }

  img {
    max-width: 80px;
  }

  @media (max-width: 720px) {
    > div {
      width: 100%;
      max-width: 400px;
      min-width: 100%;
    }
  }
}

.hours {
  .float-end {
    margin-inline-start: 25%;

    > .p__text {
      background-color: var(--color-main-blue);
      color: var(--color-white);
      border-radius: var(--border-radius-30);
      padding: var(--padding-small) var(--padding-regular);
    }

    .day {
      color: var(--color-main-blue);
      font-weight: var(--font-weight-medium);
    }
    .time {
      font-size: var(--font-size-22);
    }
  }

  @media (max-width: 700px) {
    > div.w-75 {
      width: 100% !important;
    }
    > .float-end {
      margin-inline-start: 0;
    }
  }
}

.faq {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  p {
    font-size: 80px;
    font-style: normal;
    font-weight: var(--font-weight-regular);
    line-height: normal;
  }

  form {
    width: 100%;
    border-radius: var(--border-radius-50);
    border: 3px solid var(--color-main-blue);
    padding: var(--padding-small) var(--padding-small) var(--padding-small)
      var(--padding-regular);
    margin-top: var(--padding-large);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--padding-small);
    max-width: 800px;

    &:focus-within,
    &:hover,
    &:active {
      box-shadow: 8px 5px 10px var(--color-main-blue);
    }

    input {
      font-size: var(--font-size-24);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border: none;
      width: 100%;

      &:focus {
        outline: none;
      }
    }
    button[type="submit"] {
      background-color: var(--color-main-blue);
      color: var(--color-white);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: var(--border-radius-50);
      padding: var(--padding-regular) var(--padding-large);
      max-width: 150px;
      max-height: 50px;
      transition: all var(--timing);

      &:hover {
        background-color: var(--color-white);
        border: 1px solid var(--color-main-blue);
        color: var(--color-main-blue);
        transform: scale(1.1);
      }
    }
  }

  @media (max-width: 450px) {
    p {
      font-size: 50px;
      word-break: break-word;
    }
  }
}

