<div class="container-me container">
  <div class="contactForm">
    <div class="text">
      <h1 class="main__heading">Contact</h1>
      <h2 class="h2__heading">Get In Touch</h2>
      <p class="p__text">
        We are always honored to communicate with you to know your opinions and
        complaints in order to continue providing you with the best service.
      </p>
    </div>
    <form>
      <input type="text" placeholder="Name" />
      <input type="email" placeholder="Email" />
      <textarea type="text" placeholder="Message..."></textarea>
      <button type="submit">SUBMIT</button>
    </form>
  </div>

  <div class="social__links row justify-content-center gap-5 flex-wrap">
    <div
      class="social__link col row justify-content-between align-items-start py-4"
    >
      <img
        class="w-50"
        src="./../../../assets/social-icons/mail.svg"
        alt="facebook icon"
      />
      <div class="text col w-100 h-50">
        <p class="h2__heading text-light">Email</p>
        <p class="fs-5 text-light">Logo123&commat;gmail.com</p>
      </div>
    </div>
    <div
      class="social__link col row justify-content-between align-items-start py-4"
    >
      <img
        class="w-50"
        src="./../../../assets/social-icons/mobile.svg"
        alt="facebook icon"
      />
      <div class="text col w-50">
        <p class="h2__heading text-light">Phone</p>
        <p class="p__text text-light">+(662) 774 925</p>
      </div>
    </div>
    <div
      class="social__link col row justify-content-between align-items-start py-4"
    >
      <img
        class="w-50"
        src="./../../../assets/social-icons/location.svg"
        alt="facebook icon"
      />
      <div class="text col w-50">
        <p class="h2__heading text-light">Address</p>
        <p class="p__text text-light">15 Road 124 st, Cairo, Egypt</p>
      </div>
    </div>
  </div>

  <div class="hours row flex-column">
    <div class="w-75">
      <h2 class="h2__heading">Visit our office or headquarter</h2>
      <p class="p__text">
        We are pleased and honored by your presence in our offices spread
        throughout the Republic or at our main headquarters in Cairo.
      </p>
    </div>
    <div
      class="w-75 float-end row flex-column align-items-center justify-content-center"
    >
      <p class="p__text w-auto mb-3">Hours</p>
      <div class="row gap-3">
        <div class="col text-center">
          <p class="p__text day">Friday</p>
          <p class="p__text time">9 PM - 2 PM</p>
        </div>
        <div class="col text-center">
          <p class="p__text day">Saturday</p>
          <p class="p__text time">9 PM - 2 PM</p>
        </div>
        <div class="col text-center">
          <p class="p__text day">Sunday</p>
          <p class="p__text time">9 PM - 2 PM</p>
        </div>
      </div>
    </div>
  </div>

  <div class="faq">
    <h2 class="h2__heading">FAQ</h2>
    <p>
      Frequently <br />
      Asked Question
    </p>
    <form>
      <input
        type="email"
        placeholder="Write Your Question ..."
        class="p__text"
      />
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
