@import "./../../../assets/edite.scss";

.contactForm {
  width: 100%;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--padding-regular);
  padding-top: var(--padding-extra-large);

  .text {
    .h2__heading {
      margin: var(--padding-small) 0;
      font-size: var(--font-size-26);
    }
  }

  form {
    background-color: var(--color-main-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: var(--padding-medium) var(--padding-large);
    border-radius: var(--border-radius-10);
    gap: var(--padding-small);

    input,
    textarea {
      width: 100%;
      border: none;
      border-radius: var(--border-radius-10);
      padding: var(--padding-regular) var(--padding-medium);
      font-size: var(--font-size-16);
    }
    textarea {
      height: 200px;
    }

    button[type="submit"] {
      background-color: var(--color-white);
      color: var(--color-main-blue);
      font-weight: var(--font-weight-bold);
      border: none;
      border-radius: var(--border-radius-50);
      padding: var(--padding-small) var(--padding-large);
    }
  }

  @media (max-width: 1000px) {
    grid-template-columns: 100%;
    gap: var(--padding-extra-large);

    form {
      width: 100%;
      max-width: 500px;
      padding: var(--padding-regular) var(--padding-medium);
      margin: 0 auto;
    }
  }
}
