

<div class="search mt-5">

  <input type="search" placeholder="  Search..." class="form-control w-75 m-4 p-3 mx-auto" [(ngModel)]="term">

</div>


<div class="row container g-3 m-5">

  <div class="col-md-6" *ngFor="let data of data ">
    <div class="stylediv ">
        <div class="d-flex justify-content-between  align-self-center">
            <div class="mt-5">
                <p class="fw-bolder fs-5">{{data.business_name}}</p>
                <p class="fw-bolder  fs-6">Business Field: {{data.category.name}}</p>
                <p class="fw-bolder  fs-6">Total Amount: {{data.amount_needed}}</p>
            </div>
  
            <div>
                <figure class="logo ">
                    <img class="w-100" [src]="data.photo" alt="logo">
  
  
                </figure>
  
                <div>
                    <p>Start Date: {{data.start_date}}</p>
                    <p>End Date:  {{data.end_date}}</p>
  
                </div>
            </div>
        </div>
  

        <div>
          <button class="btn btninfo w-100 mb-2 " [routerLink]="['/watingDetails' , data.uuid]">Show More Details</button>
          <div class="d-flex justify-content-between">
            <button class="btn btninfo btnspace  " (click)="accept(data.uuid ,AddBtn)" #AddBtn> Accept</button>
            <button class="btn btn-danger btnspace" (click)="reject(data.uuid ,AddBtn1)" #AddBtn1>Reject</button>
          </div>
        </div>
    </div>
  
  </div>
  
</div>

