@import '../../pages/invest/invest.component';

.btnspace{
    width: 48%;
}


.btn1{
    background-color:var(--color-main-blue); ;
}
.img {
    background-image: url("../../../assets/adites/bg-invest.png");
    height: 100vh;
    background-size: 100% 100%;
    background-position: center;
  }
  

