<!-- <p class="mt-5">invest-naw works!</p>
<p class="mt-5">invest-naw works!</p>



<section class="w-75 mx-auto justify-content-center d-flex flex-column align-items-center">

    <div class="container ">
        <div class="row mx-auto align-self-center justify-content-center styleborder pt-5 pb-4 ">
        
        <div class="col-md-8">
            <img src="../../../assets/company-logos/algioshy.png" class="w-100 h-100 " alt="">
        </div>
        <div class="col-md-4 d-flex justify-content-around ">
                <div class="div">
                    <h1 class="h4 mt-3">
                        Egyption EG
                     </h1>
                     <p>Total Amount 450,000$</p>
                     <p>Cutting machines</p>
                     <p>11 May,2024</p>
                </div>
        
        </div>
        </div>
        
        
        
        </div>
        <form  >
            <p class="text-danger justify-content-center d-flex fw-bold mt-3">We will take a 3% commission from the profits you earn</p>

            <input type="number" placeholder="Enter amount you want to pay" class="form-control  text-center text-muted mb-3 styleborder p-3">

            <p class="mb-3 fw-bold  text-center">Total amount :</p>

            <button class="btn btn-primary  form-control mb-3 p-3">Click here to pay with stripe </button>
            <button class="btn styleborder form-control p-3">Cancel</button>

        </form>
</section>
 -->

