
.success{
    background-color:var(--color-main-blue);
  } 
  .successtext{
    color: #001f3e;
    // background-color: #001f3e;
  }

  .borderheader{
    border: 1px solid transparent;
  }
  .colorLeft{
    left:0px;
    top:25px;
    height: 10%;
  }

.colortext{
    color: #b2b2b2 !important;
    
}

.circle{

border-radius: 50%;
}
