
.form-control{

    box-shadow: none;
  }

label{

    margin-bottom: 5px;
    color: var(--color-main);
    transition: .2s top;
}




  ._top{

    top: 85px !important;
  }




  h1{
    font-weight: bold;
  }

  p{
    font-size: 1.5rem;
  }


  .hidden-lable{
    overflow: hidden;
}
.w{
    width: 40%;
}

.backgroundBtn{
    background-color: var(--color-main);
    color: var(--color-white);
    // font-size: 18px;
  
}