<section class="forget-password" *ngIf="step1">
  <div class="text-center mb-3">
    <h1 class="mb-3">Forgot your password?</h1>
    <p class="text-muted">
      Please enter the e-mail associated with your account and we will send you
      a verification code
    </p>
  </div>
  <form
    class="w-50 mx-auto"
    [formGroup]="forgetForm"
    (ngSubmit)="forgetPassword()"
  >
    <div class="form-group">
      <input
        type="email"
        id="e-mail"
        class="form-control border-0 border-bottom"
        placeholder="Enter your E-mail"
        formControlName="email"
      />
      <div
        class="mb-3"
        *ngIf="
          forgetForm.get('email')?.errors && forgetForm.get('email')?.touched
        "
      >
        <p
          *ngIf="forgetForm.get('email')?.getError('required')"
          class="text-danger fs-6"
        >
          * Email is required
        </p>
        <p
          *ngIf="forgetForm.get('email')?.getError('email')"
          class="text-danger fs-6"
        >
          * Email InValid Format
        </p>
      </div>




      <button
        class="btn backgroundBtn w-100 mt-4"
        [disabled]="forgetForm.invalid"
      >
        Send verification code <span *ngIf="isLoading"> <i class="fa fa-spin fa-spinner"></i></span>
      </button>





      <button
        class="btn border-primary btn-outline w-100 mt-4"
        (click)="backLogin()"
      >
        Back
      </button>
    </div>
  </form>
  <p class="text-danger">{{errorMassage}}</p>
</section>

<section class="forget-password" *ngIf="step2">
  <div class="text-center mb-3">
    <h1 class="mb-3">Check your E-mail</h1>
    <p class="text-muted">
      Please enter the 6 digit code sent to <br />
      your e-mail
    </p>
  </div>
  <form
    class="w-50 mx-auto"
    [formGroup]="resetCodeForm"
    (ngSubmit)="resetCode()"
  >
    <div class="form-group">
      <input
        type="text"
        class="form-control border-0 border-bottom"
        placeholder="Enter Code"
        formControlName="otp"
      />

      <button
        class="btn backgroundBtn w-100 mt-4"
        [disabled]="resetCodeForm.invalid"
      >
        ConFirm<span *ngIf="isLoading"> <i class="fa fa-spin fa-spinner"></i></span>
      </button>
      <button
        class="btn border-primary btn-outline w-100 mt-4"
        (click)="backEnterEmail()"
      >
        Back
      </button>
    </div>
  </form>
  <p class="text-danger">{{errorMassage}}</p>

</section>

<section class="forget-password" *ngIf="step3">
  <div class="text-center mb-3">
    <h1 class="mb-3">Create new password</h1>
    <p class="text-muted">
      Your new password must be different <br />
      from previous used password
    </p>
  </div>
  <form
    class="w-50 mx-auto"
    [formGroup]="resetPasswordForm"
    (ngSubmit)="resetPassword()"
  >
    <div class="form-group">
      <input
        type="password"
        class="form-control border-0 border-bottom mb-3"
        placeholder="password"
        formControlName="password"
      />
      <div
        class="mb-3"
        *ngIf="
          resetPasswordForm.get('newPassword')?.errors &&
          resetPasswordForm.get('newPassword')?.touched
        "
      >
        <p
          *ngIf="resetPasswordForm.get('newPassword')?.getError('required')"
          class="text-danger fs-6"
        >
          * password is required
        </p>
      </div>
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control border-0 border-bottom mb-3"
        placeholder="ConFirmPassword"
        formControlName="password_confirmation"
      />
      <div
        class="mb-3"
        *ngIf="
          resetPasswordForm.get('conFirmPassword')?.errors &&
          resetPasswordForm.get('conFirmPassword')?.touched
        "
      >
        <p
          *ngIf="resetPasswordForm.get('conFirmPassword')?.getError('required')"
          class="text-danger fs-6"
        >
          * rePassword is required
        </p>
        <p
          *ngIf="resetPasswordForm.get('conFirmPassword')?.getError('compare')"
          class="text-danger fs-6"
        >
          * Password not matching
        </p>
      </div>

    </div>

    <button
      class="btn backgroundBtn w-100 mt-4"
      [disabled]="resetPasswordForm.invalid"
    >
      ConFirm<span *ngIf="isLoading"> <i class="fa fa-spin fa-spinner"></i></span>
    </button>
    <button
      class="btn border-primary btn-outline w-100 mt-4"
      (click)="backResetCode()"
    >
      Back
    </button>
  </form>
  <p class="text-danger">{{errorMassage}}</p>

</section>
